@import "typography/fonts";
@import "mixin-provvisory";
@import "variables-provvisory";

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


.flexnav {
    @include size (50vh, 50vw);
    @include flex (flex, flex-start, center);
    flex-flow:column;

    .blackline {
        background-color:black;
        @include flex (flex);
        flex:10%;
    }
    .nav {
        @include flex (flex);
        background-color:$nav-col;

            &:ul {
                @include flex (flex, space-around, center);
                
            }
    }
}