@import "typography/fonts";
@import "mixin-provvisory";
@import "variables-provvisory";


// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.sub-menu-altreesperienze, .sub-menu-informazioni, .sub-menu-impegni, .sub-menu-risorse {

    display:none;
}


.flexnav {
    @include size (50vh, 100%);
    @include flex (flex, flex-start, center);
    flex-flow:column;

    .blackline {
        background-color:$nav-col;
        display:flex;
        @include size(5vh, 100%);
    }
    .nav {
        display:flex;
        @include size (5vh, 100%);
        

            .logo {
                @include flex (flex, flex-start, center);
                flex:15%;
                 }
            .navlist {
                @include flex (flex, flex-start, center);
                flex:85%;
               
                ul {@include flex (flex, flex-start, center);
                    @include size (2rem, 100%);
                    @include space (1rem, 1.5rem);
                    list-style:none;

                     li {
                        
                        
                            a { 
                                font-size:large;
                                color:black;
                                }
                           
                                    } 
                                        }
                                            }
                                            a:hover {color:white;}
    }
    .img {
        display:flex;
        @include size (40vh, 100%);
        

            .mainbutton {
                        @include flex (flex, center, center);
                        @include size (2rem, 4rem);
                        background-color:white;
            }
    }
}