@import "typography/fonts";
@import "mixin/mixin";

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.flexnav {
    display: flex;
    flex-flow: column;
    height: 30vh;
    width: 30vw;

    .blackline {
        display: flex;
        flex: 1;
        background-color: black;
    }

    .nav {
        display: flex;
        flex: 1;
        background-color: rgb(235, 219, 219);

        ul {
            display: flex;
            flex: 1;

            li {
                display: flex;
                flex-basis: 100%;
                justify-content: flex-start;
                gap: 1rem;

                a {
                    color: black;
                }
            }
        }
    }
}


/* Giochi in evidenza style */
.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-family: ElectronicArtsDisplay, Verdana, Helvetica, Arial, sans-serif;
        font-weight: 900;
        font-size: 44px;
        color: #161616;
        line-height: 1.5;
    }

}

.cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    width: 60vw;
    margin: 1.2rem;


    .fifa23-card {
        @include cards(relative, 350px, 350px);

        .fifa23-logo {
            position: absolute;
            top: 40%;
            left: 30%;
            transition: all 0.4s ease;
            z-index: 1;

        }

        &:hover .fifa23-logo {
            transform: translateY(-70px);
        }
    }

    .apex-mobile-card {
        @include cards(relative, 350px, 350px);

        .apex-mobile-logo {
            position: absolute;
            top: 40%;
            left: 40%;
            transition: all 0.4s ease;
            z-index: 1;

        }

        &:hover .apex-mobile-logo {
            transform: translateY(-70px);
        }

    }

    .f1-22-card {
        @include cards(relative, 350px, 350px);

        .f1-22-logo {
            position: absolute;
            top: 40%;
            left: 30%;
            transition: all 0.4s ease;
            z-index: 1;
        }

        &:hover .f1-22-logo {
            transform: translateY(-60px);
        }
    }

    .batterfield-card {
        @include cards(relative, 350px, 350px);

        .batterfield-logo {
            position: absolute;
            top: 40%;
            left: 30%;
            transition: all 0.4s ease;
            z-index: 1;
        }

        &:hover .batterfield-logo {
            transform: translateY(-40px);
        }
    }

    .apex-card {
        @include cards(relative, 350px, 350px);

        .apex-logo {
            position: absolute;
            top: 40%;
            left: 37%;
            transition: all 0.4s ease;
            z-index: 1;
        }

        &:hover .apex-logo {
            transform: translateY(-70px);
        }
    }

    .the-sims4-card {
        @include cards(relative, 350px, 350px);

        .the-sims4-logo {
            position: absolute;
            top: 25%;
            left: 30%;
            transition: all 0.4s ease;
            z-index: 1;
        }

        &:hover .the-sims4-logo {
            transform: translateY(-55px);
        }

    }

}

.btn-container {
    height: 75px;
    display: flex;
    align-items: center;
    margin: 0rem 0rem 5rem;
}

.btn {
    cursor: pointer;
    background: none;
    border: 1, 5px solid black;
    border-radius: 3px;
    padding: 15px 30px;
    transition: padding 0.1s;
    font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #161616;
    opacity: .9;

    &:hover {
        padding: 18px 35px;
    }
}

.bi{
    display: none;
}






/* -------------------------------------Reponsivity--------------------------------- */
@import "responsivity/media";



