// Giuseppe - inizio -----------------------------------------------------------------------
$giu-color: (
  black-heading: #161616,
);

$bg-linear-gradient: linear-gradient(90deg, rgba(47, 41, 124, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
$bg-base-dark: rgba(24, 23, 23, 0.4);

$bg-base-blue: rgb(47, 41, 124);
// Giuseppe - fine -------------------------------------------------------------------------

// Dario - inizio -----------------------------------------------------------------------
$da-color: (
  dark: hsl(0, 0%, 9%),
  light-dark: hsla(0, 0%, 9%, 0.8),
  text-dark: hsl(0, 0%, 42%),

  white: hsl(0, 0%, 100%),

  accent: hsl(0, 100%, 64%),

  bg: rgb(242, 242, 242),
  borders: hsla(0, 0%, 0%, 0.08),
  borders-dark: hsla(0, 0%, 9%, 0.5),
  shadow: hsla(0, 0%, 0%, 0.5),
  active: hsla(0, 0%, 85%, 0.8),
);
// Dario - fine -------------------------------------------------------------------------

// Josephine - inizio -------------------------------------------------------------------------
$bg-base-blue: rgb(47, 41, 124);

// Font Color Footer
$color-primary: rgb(22, 22, 22);
$color-secondary: #ffffff;
// Josephine - fine -------------------------------------------------------------------------