$color-primary: #000000;
$color-secondary: #ffffff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

footer {
    height: 250px;
    padding: 15px 90px 23px;
    background-color: orange;
    width: 100%;
    display: flex;
    flex-direction: column;

    .wrapper-footer-section1 {
        width: 95%;
        height: 100%;
        background-color: brown;
        margin: 0 auto;
        display: flex;

        .wrapper-footer-logo {
            flex: 1;
            background-color: lightblue;

            img {
                width: 49px;
                object-fit: contain;
            }
        }

        .wrapper-footer-link1 {
            flex: 7;
            background-color: lightcoral;
            height: 88px;

            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                height: 100%;
                width: 90%;

                    a {
                        text-decoration: none;
                        margin-right: 2rem;
                        color: $color-primary;
                    }
                }
            }

        .wrapper-dropdown {
            display: flex;
            flex: 4;
            height: 88px;

            .wrapper-footer-price {
                flex: 2;
                background-color: lightseagreen;
            }
    
            .wrapper-footer-language {
                flex: 2;
                background-color: lightslategrey;
            }
        }  
    }
}