@font-face {
  font-family: ElectronicArtsDisplay;
  src: url(../../assets/fonts/Electronic_Arts_Display.otf);
}
@font-face {
  font-family: ElectronicArtsText;
  src: url(../../assets/fonts/Electronic_Arts_Text.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.flexnav {
  display: flex;
  flex-flow: column;
  height: 30vh;
  width: 30vw;
}
.flexnav .blackline {
  display: flex;
  flex: 1;
  background-color: black;
}
.flexnav .nav {
  display: flex;
  flex: 1;
  background-color: rgb(235, 219, 219);
}
.flexnav .nav ul {
  display: flex;
  flex: 1;
}
.flexnav .nav ul li {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-start;
  gap: 1rem;
}
.flexnav .nav ul li a {
  color: black;
}

/* Giochi in evidenza style */
.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-wrapper h1 {
  font-family: ElectronicArtsDisplay, Verdana, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 44px;
  color: #161616;
  line-height: 1.5;
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
  margin: 1.2rem;
}
.cards-wrapper .fifa23-card {
  position: relative;
}
.cards-wrapper .fifa23-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.4);
}
.cards-wrapper .fifa23-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0;
}
.cards-wrapper .fifa23-card:hover::after {
  background: rgb(47, 41, 124);
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0.82;
}
.cards-wrapper .fifa23-card:hover p {
  display: block;
  z-index: 2;
}
.cards-wrapper .fifa23-card p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  display: none;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cards-wrapper .fifa23-card .fifa23-logo {
  position: absolute;
  top: 40%;
  left: 35%;
  transition: all 0.4s ease;
  z-index: 1;
}
.cards-wrapper .fifa23-card:hover .fifa23-logo {
  transform: translateY(-70px);
}
.cards-wrapper .apex-mobile-card {
  position: relative;
}
.cards-wrapper .apex-mobile-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.4);
}
.cards-wrapper .apex-mobile-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0;
}
.cards-wrapper .apex-mobile-card:hover::after {
  background: rgb(47, 41, 124);
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0.82;
}
.cards-wrapper .apex-mobile-card:hover p {
  display: block;
  z-index: 2;
}
.cards-wrapper .apex-mobile-card p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  display: none;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cards-wrapper .apex-mobile-card .apex-mobile-logo {
  position: absolute;
  top: 40%;
  left: 40%;
  transition: all 0.4s ease;
  z-index: 1;
}
.cards-wrapper .apex-mobile-card:hover .apex-mobile-logo {
  transform: translateY(-70px);
}
.cards-wrapper .f1-22-card {
  position: relative;
}
.cards-wrapper .f1-22-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.4);
}
.cards-wrapper .f1-22-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0;
}
.cards-wrapper .f1-22-card:hover::after {
  background: rgb(47, 41, 124);
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0.82;
}
.cards-wrapper .f1-22-card:hover p {
  display: block;
  z-index: 2;
}
.cards-wrapper .f1-22-card p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  display: none;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cards-wrapper .f1-22-card .f1-22-logo {
  position: absolute;
  top: 40%;
  left: 30%;
  transition: all 0.4s ease;
  z-index: 1;
}
.cards-wrapper .f1-22-card:hover .f1-22-logo {
  transform: translateY(-60px);
}
.cards-wrapper .batterfield-card {
  position: relative;
}
.cards-wrapper .batterfield-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.4);
}
.cards-wrapper .batterfield-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0;
}
.cards-wrapper .batterfield-card:hover::after {
  background: rgb(47, 41, 124);
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0.82;
}
.cards-wrapper .batterfield-card:hover p {
  display: block;
  z-index: 2;
}
.cards-wrapper .batterfield-card p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  display: none;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cards-wrapper .batterfield-card .batterfield-logo {
  position: absolute;
  top: 40%;
  left: 30%;
  transition: all 0.4s ease;
  z-index: 1;
}
.cards-wrapper .batterfield-card:hover .batterfield-logo {
  transform: translateY(-40px);
}
.cards-wrapper .apex-card {
  position: relative;
}
.cards-wrapper .apex-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.4);
}
.cards-wrapper .apex-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0;
}
.cards-wrapper .apex-card:hover::after {
  background: rgb(47, 41, 124);
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0.82;
}
.cards-wrapper .apex-card:hover p {
  display: block;
  z-index: 2;
}
.cards-wrapper .apex-card p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  display: none;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cards-wrapper .apex-card .apex-logo {
  position: absolute;
  top: 40%;
  left: 37%;
  transition: all 0.4s ease;
  z-index: 1;
}
.cards-wrapper .apex-card:hover .apex-logo {
  transform: translateY(-70px);
}
.cards-wrapper .the-sims4-card {
  position: relative;
}
.cards-wrapper .the-sims4-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.4);
}
.cards-wrapper .the-sims4-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0;
}
.cards-wrapper .the-sims4-card:hover::after {
  background: rgb(47, 41, 124);
  background: linear-gradient(90deg, rgb(47, 41, 124) 0%, rgb(253, 29, 29) 100%, rgb(252, 176, 69) 100%);
  opacity: 0.82;
}
.cards-wrapper .the-sims4-card:hover p {
  display: block;
  z-index: 2;
}
.cards-wrapper .the-sims4-card p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  display: none;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cards-wrapper .the-sims4-card .the-sims4-logo {
  position: absolute;
  top: 25%;
  left: 30%;
  transition: all 0.4s ease;
  z-index: 1;
}
.cards-wrapper .the-sims4-card:hover .the-sims4-logo {
  transform: translateY(-55px);
}

.btn-container {
  height: 75px;
  display: flex;
  align-items: center;
  margin: 0rem 0rem 5rem;
}

.btn {
  cursor: pointer;
  background: none;
  border: 1, 5px solid black;
  border-radius: 3px;
  padding: 15px 30px;
  transition: padding 0.1s;
  font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #161616;
  opacity: 0.9;
}
.btn:hover {
  padding: 18px 35px;
}

.bi {
  display: none;
}

/* -------------------------------------Reponsivity--------------------------------- */
@media only screen and (min-width: 200px) and (max-width: 250px) {
  .section-wrapper {
    background-color: rgb(240, 238, 238);
    box-shadow: 14px -5px 22px -20px inset #161616;
    padding-top: 3rem;
    /* three dots menu */
  }
  .section-wrapper .cards-wrapper {
    gap: 15px;
    margin: 1rem;
  }
  .section-wrapper .cards-wrapper .the-sims4-card p,
.section-wrapper .cards-wrapper .apex-card p,
.section-wrapper .cards-wrapper .batterfield-card p,
.section-wrapper .cards-wrapper .f1-22-card p,
.section-wrapper .cards-wrapper .apex-mobile-card p,
.section-wrapper .cards-wrapper .fifa23-card p {
    top: 50%;
    left: 25%;
    color: rgb(150, 147, 147);
    display: none;
    /* to active with js */
  }
  .section-wrapper h1 {
    font-size: 30px;
    color: #161616;
    line-height: 1.1;
    text-align: center;
  }
  .section-wrapper .fifa23-card,
.section-wrapper .apex-mobile-card,
.section-wrapper .f1-22-card,
.section-wrapper .batterfield-card,
.section-wrapper .apex-card,
.section-wrapper .the-sims4-card {
    display: flex;
    justify-content: center;
    /*  max-height: 175px;
    max-width: 175px; */
    /* never over 175px */
  }
  .section-wrapper .fifa23-card:hover::after,
.section-wrapper .apex-mobile-card:hover::after,
.section-wrapper .f1-22-card:hover::after,
.section-wrapper .batterfield-card:hover::after,
.section-wrapper .apex-card:hover::after,
.section-wrapper .the-sims4-card:hover::after {
    background: none;
    opacity: 0;
  }
  .section-wrapper .fifa23-card:hover .fifa23-logo {
    transform: translateY(-40px);
    transform: none;
  }
  .section-wrapper .apex-mobile-card:hover .apex-mobile-logo {
    /* transform: translateY(-40px); */
    transform: none;
  }
  .section-wrapper .f1-22-card:hover .f1-22-logo {
    /* transform: translateY(-45px); */
    transform: none;
  }
  .section-wrapper .batterfield-card:hover .batterfield-logo {
    transform: none;
  }
  .section-wrapper .apex-card:hover .apex-logo {
    /*  transform: translateY(-40px); */
    transform: none;
  }
  .section-wrapper .the-sims4-card:hover .the-sims4-logo {
    transform: none;
  }
  .section-wrapper .fifa23-logo img {
    width: 70px;
    position: relative;
    left: -10%;
  }
  .section-wrapper .apex-mobile-logo img {
    width: 40px;
  }
  .section-wrapper .f1-22-logo img {
    width: 75px;
  }
  .section-wrapper .batterfield-logo img {
    width: 75px;
  }
  .section-wrapper .apex-logo {
    width: 55px;
  }
  .section-wrapper .the-sims4-logo img {
    width: 75px;
  }
  .section-wrapper .the-sims4-card .the-sims4-logo {
    top: 0px;
  }
  .section-wrapper .btn-container {
    height: fit-content;
    margin: 0 0px 15px;
  }
  .section-wrapper .btn-container a {
    text-decoration: none;
  }
  .section-wrapper .btn {
    padding: 0 40px;
    height: 50px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-wrapper .bi-three-dots {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 24px;
    display: block;
    z-index: 2;
  }
}
/* X show to active with js */
/* .bi-x{
            display: block;
            position: absolute;
            top: 0px;
            right: 10px;
            color: white;
            font-size: 34px;
        } */
@media only screen and (min-width: 251px) and (max-width: 300px) {
  .cards-wrapper .fifa23-card {
    display: flex;
  }
  .cards-wrapper .fifa23-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .fifa23-card:hover .fifa23-logo {
    /*   transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .fifa23-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-mobile-card {
    display: flex;
  }
  .cards-wrapper .apex-mobile-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .apex-mobile-card:hover .apex-mobile-logo {
    /* transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-mobile-card:hover p {
    display: none;
  }
  .cards-wrapper .f1-22-card {
    display: flex;
  }
  .cards-wrapper .f1-22-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .f1-22-card:hover .f1-22-logo {
    /* transform: translateY(-45px); */
    transform: none;
  }
  .cards-wrapper .f1-22-card:hover p {
    display: none;
  }
  .cards-wrapper .batterfield-card {
    display: flex;
  }
  .cards-wrapper .batterfield-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .batterfield-card:hover .batterfield-logo {
    transform: none;
  }
  .cards-wrapper .batterfield-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-card {
    display: flex;
  }
  .cards-wrapper .apex-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .apex-card:hover .apex-logo {
    /*  transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-card:hover p {
    display: none;
  }
  .cards-wrapper .the-sims4-card {
    display: flex;
  }
  .cards-wrapper .the-sims4-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .the-sims4-card:hover .the-sims4-logo {
    transform: none;
  }
  .cards-wrapper .the-sims4-card:hover p {
    display: none;
  }
  .cards-wrapper .fifa23-logo img {
    width: 100px;
    position: relative;
    left: -15%;
  }
  .cards-wrapper .apex-mobile-logo img {
    width: 55px;
  }
  .cards-wrapper .f1-22-logo img {
    width: 100px;
  }
  .cards-wrapper .batterfield-logo img {
    width: 100px;
  }
  .cards-wrapper .apex-logo {
    width: 75px;
  }
  .cards-wrapper .the-sims4-logo img {
    width: 100px;
    position: relative;
    top: -40px;
    left: -5px;
  }
  .bi-three-dots {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 24px;
    display: block;
    z-index: 2;
  }
  .btn-container a {
    text-decoration: none;
  }
  .btn {
    border: 2px solid black;
    width: 215px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}
@media only screen and (min-width: 301px) and (max-width: 360px) {
  .cards-wrapper .fifa23-card {
    display: flex;
  }
  .cards-wrapper .fifa23-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .fifa23-card:hover .fifa23-logo {
    /*   transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .fifa23-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-mobile-card {
    display: flex;
  }
  .cards-wrapper .apex-mobile-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .apex-mobile-card:hover .apex-mobile-logo {
    /* transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-mobile-card:hover p {
    display: none;
  }
  .cards-wrapper .f1-22-card {
    display: flex;
  }
  .cards-wrapper .f1-22-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .f1-22-card:hover .f1-22-logo {
    /* transform: translateY(-45px); */
    transform: none;
  }
  .cards-wrapper .f1-22-card:hover p {
    display: none;
  }
  .cards-wrapper .batterfield-card {
    display: flex;
  }
  .cards-wrapper .batterfield-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .batterfield-card:hover .batterfield-logo {
    transform: none;
  }
  .cards-wrapper .batterfield-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-card {
    display: flex;
  }
  .cards-wrapper .apex-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .apex-card:hover .apex-logo {
    /*  transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-card:hover p {
    display: none;
  }
  .cards-wrapper .the-sims4-card {
    display: flex;
  }
  .cards-wrapper .the-sims4-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .the-sims4-card:hover .the-sims4-logo {
    transform: none;
  }
  .cards-wrapper .the-sims4-card:hover p {
    display: none;
  }
  .cards-wrapper .fifa23-logo img {
    width: 100px;
    position: relative;
    left: -8%;
  }
  .cards-wrapper .apex-mobile-logo img {
    width: 55px;
  }
  .cards-wrapper .f1-22-logo img {
    width: 100px;
  }
  .cards-wrapper .batterfield-logo img {
    width: 100px;
  }
  .cards-wrapper .apex-logo {
    width: 75px;
  }
  .cards-wrapper .the-sims4-logo img {
    width: 100px;
    position: relative;
    top: -40px;
    left: 5px;
  }
  .bi-three-dots {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 24px;
    display: block;
    z-index: 2;
  }
  .btn-container a {
    text-decoration: none;
  }
  .btn {
    border: 2px solid black;
    width: 265px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}
@media only screen and (min-width: 361px) {
  .cards-wrapper .fifa23-card {
    display: flex;
  }
  .cards-wrapper .fifa23-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .fifa23-card:hover .fifa23-logo {
    /*   transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .fifa23-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-mobile-card {
    display: flex;
  }
  .cards-wrapper .apex-mobile-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .apex-mobile-card:hover .apex-mobile-logo {
    /* transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-mobile-card:hover p {
    display: none;
  }
  .cards-wrapper .f1-22-card {
    display: flex;
  }
  .cards-wrapper .f1-22-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .f1-22-card:hover .f1-22-logo {
    /* transform: translateY(-45px); */
    transform: none;
  }
  .cards-wrapper .f1-22-card:hover p {
    display: none;
  }
  .cards-wrapper .batterfield-card {
    display: flex;
  }
  .cards-wrapper .batterfield-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .batterfield-card:hover .batterfield-logo {
    transform: none;
  }
  .cards-wrapper .batterfield-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-card {
    display: flex;
  }
  .cards-wrapper .apex-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .apex-card:hover .apex-logo {
    /*  transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-card:hover p {
    display: none;
  }
  .cards-wrapper .the-sims4-card {
    display: flex;
  }
  .cards-wrapper .the-sims4-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .the-sims4-card:hover .the-sims4-logo {
    transform: none;
  }
  .cards-wrapper .the-sims4-card:hover p {
    display: none;
  }
  .bi-three-dots {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 24px;
    display: block;
    z-index: 2;
  }
  .btn-container a {
    text-decoration: none;
  }
  .btn {
    border: 2px solid black;
    width: 325px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-wrapper {
    box-shadow: 14px -5px 30px -20px inset #161616;
    padding-top: 2rem;
  }
  .section-wrapper h1 {
    font-size: 30px;
  }
  .cards-wrapper {
    width: 90vw;
  }
  .cards-wrapper .fifa23-card,
.cards-wrapper .apex-mobile-card,
.cards-wrapper .f1-22-card,
.cards-wrapper .batterfield-card,
.cards-wrapper .apex-card,
.cards-wrapper .the-sims4-card {
    max-width: 320px;
    max-height: 320px;
  }
  .cards-wrapper .fifa23-card:hover::after,
.cards-wrapper .apex-mobile-card:hover::after,
.cards-wrapper .f1-22-card:hover::after,
.cards-wrapper .batterfield-card:hover::after,
.cards-wrapper .apex-card:hover::after,
.cards-wrapper .the-sims4-card:hover::after {
    background: none;
    opacity: 0;
  }
  .cards-wrapper .fifa23-card:hover .fifa23-logo {
    /*   transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .fifa23-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-mobile-card:hover .apex-mobile-logo {
    /* transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-mobile-card:hover p {
    display: none;
  }
  .cards-wrapper .f1-22-card:hover .f1-22-logo {
    /* transform: translateY(-45px); */
    transform: none;
  }
  .cards-wrapper .f1-22-card:hover p {
    display: none;
  }
  .cards-wrapper .batterfield-card:hover .batterfield-logo {
    transform: none;
  }
  .cards-wrapper .batterfield-card:hover p {
    display: none;
  }
  .cards-wrapper .apex-card:hover .apex-logo {
    /*  transform: translateY(-40px); */
    transform: none;
  }
  .cards-wrapper .apex-card:hover p {
    display: none;
  }
  .cards-wrapper .the-sims4-card:hover .the-sims4-logo {
    transform: none;
  }
  .cards-wrapper .the-sims4-card:hover p {
    display: none;
  }
  .btn-container a {
    text-decoration: none;
  }
  .btn {
    border: 2px solid black;
    width: 147px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .bi-three-dots {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 24px;
    display: block;
    z-index: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .cards-wrapper {
    width: 100vw;
  }
  .cards-wrapper .fifa23-card,
.cards-wrapper .apex-mobile-card,
.cards-wrapper .f1-22-card,
.cards-wrapper .batterfield-card,
.cards-wrapper .apex-card,
.cards-wrapper .the-sims4-card {
    max-width: 300px;
    max-height: 300px;
  }
  .bi {
    display: none;
  }
}
@media only screen and (min-width: 1275px) {
  .cards-wrapper {
    width: 90vw;
  }
}
@media only screen and (min-width: 1417px) {
  .cards-wrapper {
    width: 80vw;
  }
}
@media only screen and (min-width: 1920px) {
  .cards-wrapper {
    width: 60vw;
  }
  .cards-wrapper .fifa23-card,
.cards-wrapper .apex-mobile-card,
.cards-wrapper .f1-22-card,
.cards-wrapper .batterfield-card,
.cards-wrapper .apex-card,
.cards-wrapper .the-sims4-card {
    max-width: 350px;
    max-height: 350px;
  }
  .bi {
    display: none;
  }
}
.flex {
  display: flex;
  justify-content: center;
}

.prova {
  position: relative;
  margin: 1rem;
}

/*# sourceMappingURL=style.css.map */
