@import "/node_modules/flag-icons/css/flag-icons.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.footer-main-link {
  height: 250px;
  padding: 15px 80px 23px;
  background-color: #f3f3f3;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 7fr 3fr 3fr;
  grid-template-rows: 88px auto;
  grid-template-areas: "logo link1 price language" "logo link2 link2 privacy";
}
@media (max-width: 1023px) {
  .footer-main-link {
    height: 100vh;
    padding: 40px 22px 30px;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo ." "link1 link1" "price language" "link2 link2" "privacy .";
  }
}
.footer-main-link .logo {
  grid-area: logo;
  background-color: brown;
}
.footer-main-link .logo img {
  width: 49px;
}
.footer-main-link .footer-link1 {
  background-color: darkviolet;
  grid-area: link1;
  display: flex;
  width: 100%;
}
.footer-main-link .footer-link1 ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  width: 90%;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-link1 ul {
    width: 96%;
  }
}
.footer-main-link .footer-link1 ul a {
  text-decoration: none;
  margin-right: 2rem;
  color: #000000;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-link1 ul a {
    font-size: 15px;
  }
}
.footer-main-link .dropdown-price {
  background-color: cadetblue;
  grid-area: price;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price {
    display: flex;
    justify-content: center;
    height: 90%;
  }
}
.footer-main-link .dropdown-price .dropdown {
  position: relative;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  width: 95%;
}
.footer-main-link .dropdown-price .dropdown .button-link {
  width: 100%;
  height: 61px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
  text-decoration: none;
  color: #5a5a58;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
.footer-main-link .dropdown-price .dropdown .button-link div {
  font-size: 15px;
}
.footer-main-link .dropdown-price .dropdown #color-nation {
  color: #000000;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.footer-main-link .dropdown-price .dropdown #color-nation img {
  width: 14px;
  height: 14px;
  margin-left: 30px;
}
.footer-main-link .dropdown-price .dropdown .dropdown-menu {
  position: absolute;
  left: -140px;
  top: calc(100% + 0.25rem);
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown .dropdown-menu {
    left: 0px;
  }
}
.footer-main-link .dropdown-price .dropdown .link {
  width: 100%;
  height: 50px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  color: #000000;
  font-family: inherit;
  cursor: pointer;
  padding: 0px 8px;
}
.footer-main-link .dropdown-price .dropdown .button-link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.footer-main-link .dropdown-price .dropdown .information-grid {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 1rem;
}
.footer-main-link .dropdown-language {
  background-color: darkgoldenrod;
  grid-area: language;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language {
    display: flex;
    justify-content: center;
    height: 90%;
  }
}
.footer-main-link .dropdown-language .dropdown {
  position: relative;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  width: 95%;
}
.footer-main-link .dropdown-language .dropdown .button-link {
  width: 100%;
  height: 61px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
  text-decoration: none;
  color: #5a5a58;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
.footer-main-link .dropdown-language .dropdown .button-link div {
  font-size: 15px;
}
.footer-main-link .dropdown-language .dropdown #color-nation {
  color: #000000;
  display: flex;
  width: 85%;
}
.footer-main-link .dropdown-language .dropdown #color-nation span {
  margin-right: 10px;
}
.footer-main-link .dropdown-language .dropdown #color-nation .wrapper-text-arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-main-link .dropdown-language .dropdown #color-nation .wrapper-text-arrow img {
  width: 14px;
  height: 14px;
  margin-left: 60px;
}
.footer-main-link .dropdown-language .dropdown .dropdown-menu {
  position: absolute;
  left: -250px;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}
.footer-main-link .dropdown-language .dropdown .link {
  width: 100%;
  height: 50px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: none;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  color: #000000;
  font-family: inherit;
  cursor: pointer;
  padding: 0px 8px;
  font-size: 14px;
}
.footer-main-link .dropdown-language .dropdown .button-link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.footer-main-link .dropdown-language .dropdown .information-grid {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  gap: 1rem;
}
.footer-main-link .footer-legal-link {
  background-color: chocolate;
  grid-area: link2;
}
.footer-main-link .footer-legal-link ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 75%;
  width: 80%;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-legal-link ul {
    width: 90%;
  }
}
.footer-main-link .footer-legal-link ul a {
  font-size: 12px;
  text-decoration: none;
  margin-right: 2rem;
  color: #000000;
}
.footer-main-link .footer-legal-link .copyright {
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-legal-link .copyright {
    margin-top: 4px;
  }
}
.footer-main-link .footer-privacy {
  background-color: cornflowerblue;
  grid-area: privacy;
}
.footer-main-link .footer-privacy .image-privacy {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-privacy .image-privacy {
    justify-content: flex-start;
  }
}

/* @media screen and (max-width: 1023px) {
    .footer-main-link {
        height: 100vh;
        padding: 40px 22px 30px;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo ."
            "link1 link1"
            "price language"
            "link2 link2"
            "privacy ." ;
        }

        .copyright {
            margin-top: 5px;
        }
    } */

/*# sourceMappingURL=test.css.map */
