// Giuseppe - inizio ----------------------------------------------------------------------
@import "../../functions/units/units-giuseppe";

$fs-h1: (
  desktop-large: 2.75rem,
  desktop: 2.5rem,
  mobile: rem(24px),
);
// Giuseppe - fine -----------------------------------------------------------------------