* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background-color: rgb(22, 22, 22);
}
* .container-ea-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  color: #f3f3f3;
  padding-top: 30px;
}
* .container-ea-description .ea-description {
  width: 52%;
  height: auto;
  font-size: 24px;
}
* .container-ea-description .ea-description p {
  margin-top: 30px;
}
* .container-ea-description .ea-social {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
* .container-ea-description .ea-social .section-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: 18px;
  margin: 30px;
  justify-content: space-between;
}
* .container-ea-description .ea-social .section-social svg {
  width: 45px;
  fill: rgb(243, 243, 243);
}
* .container-ea-description .ea-social .section-social svg:hover {
  width: 50px;
}
* .container-game {
  max-width: 100%;
}
* .container-game .title-section-game {
  color: #f3f3f3;
  font-size: 44px;
  text-align: center;
  padding-top: 80px;
}
* .container-game .container-card {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
* .container-game .container-card .section-card {
  max-width: 100%;
  width: auto;
  height: auto;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  background-color: rgb(22, 22, 22);
  gap: 30px;
  padding-top: 30px;
}
* .container-game .container-card .section-card .card {
  width: 350px;
  height: 350px;
}
* .container-game .container-card .section-card .card:hover {
  opacity: 0.3;
}
* .container-game .container-card .section-card .card img {
  width: 100%;
}
* .video-section {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* .video-section .trailer-section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .video-section .trailer-section h3 {
  color: #f3f3f3;
  font-size: 40px;
}
* .video-section .trailer-video {
  width: 85%;
  height: 700px;
}
* .video-section .trailer-video iframe {
  width: 100%;
  height: 100%;
}
* .video-section .carousel-video {
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
* .video-section .carousel-video .svg {
  width: 40px;
  height: 40px;
}
* .video-section .carousel-video svg.left {
  transform: scale(-1);
  pointer-events: auto;
  fill: #f3f3f3;
}
* .video-section .carousel-video svg.right {
  pointer-events: auto;
  fill: #f3f3f3;
}
* .video-section .carousel-video span {
  color: #f3f3f3;
}
* .news-letter-section {
  max-width: 100%;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
* .news-letter-section .container-form {
  width: 85%;
  display: flex;
  padding-right: 28px;
}
* .news-letter-section .description-form {
  width: 50%;
  height: 200px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
}
* .news-letter-section .description-form h2 {
  font-size: 40px;
}
* .news-letter-section .description-form p {
  padding-top: 20px;
  line-height: 25px;
  font-size: 18px;
}
* .news-letter-section .form {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
* .news-letter-section .form .input-email {
  width: 100%;
  height: 60px;
}
* .news-letter-section .form input {
  font-size: 14px;
}
* .news-letter-section .form #email {
  width: 100%;
  height: 60px;
  border: 2px solid white;
}
* .news-letter-section .form .form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
  height: 70px;
}
* .news-letter-section .form .form-row #date {
  width: 48%;
  height: 60px;
  border: 2px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
* .news-letter-section .form .form-row #date #date-of-birth {
  border: none;
  padding-left: 30px;
}
* .news-letter-section .form .form-row span {
  color: #f3f3f3;
}
* .news-letter-section .form #state {
  width: 48%;
  height: 60px;
  border: 2px solid white;
  display: flex;
  align-items: center;
}
* .news-letter-section .form #state:hover {
  width: 49%;
  height: 65px;
}
* .news-letter-section .form #state .span-state {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
* .news-letter-section .form #state .span-state .title-state {
  font-size: 14px;
  color: rgb(163, 163, 163);
}
* .news-letter-section .form #state .span-state .StatiUniti {
  font-size: 18px;
}
* .news-letter-section .form .legal-optin {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
* .news-letter-section .form .input-checkbox {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
* .news-letter-section .form .input-checkbox svg {
  fill: #f3f3f3;
  width: 20px;
}
* .news-letter-section .form .checkbox-label {
  width: 100%;
  height: 100%;
  color: #f3f3f3;
}
* .news-letter-section .form .checkbox-label p {
  color: #f3f3f3;
  font-size: 18px;
  line-height: 23px;
}
* .news-letter-section .form .checkbox-label p a {
  text-decoration: none;
  color: rgb(255, 71, 71);
}
* .news-letter-section .form .button {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}
* .news-letter-section .form .button input[type=submit] {
  background-color: rgb(255, 71, 71);
  width: 136px;
  height: 56px;
  font-size: 18px;
  color: #f3f3f3;
  border: none;
  border-radius: 3px;
}
