@import "/node_modules/flag-icons/css/flag-icons.min.css"; /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul.list,
ol.list {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: ElectronicArtsDisplay;
  src: url(../../assets/fonts/Electronic_Arts_Display.otf);
}
@font-face {
  font-family: ElectronicArtsText;
  src: url(../../assets/fonts/Electronic_Arts_Text.otf);
}
footer {
  font-family: ElectronicArtsText, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 1920px) {
  footer {
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    padding: 1.5rem 0 3rem;
  }
}

.footer-main-link {
  height: 250px;
  padding: 15px 80px 23px;
  background-color: #f3f3f3;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 7fr 3fr 3fr;
  grid-template-rows: 88px auto;
  grid-template-areas: "logo link1 price language" "logo link2 link2 privacy";
}
@media only screen and (max-width: 1024px) {
  .footer-main-link {
    padding: 0;
    height: 255px;
  }
}
@media (max-width: 1023px) {
  .footer-main-link {
    height: 65vh;
    padding: 40px 22px 30px;
    grid-template-rows: 60px 60px 70px 110px 80px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo ." "link1 link1" "price language" "link2 link2" "privacy .";
  }
}
@media (max-width: 767px) {
  .footer-main-link {
    height: 100vh;
    gap: 20px;
    padding: 40px 22px 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "link1" "price" "language" "link2" "privacy";
  }
}
@media only screen and (min-width: 1920px) {
  .footer-main-link {
    width: 65%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 10fr 3fr 3fr;
  }
}
.footer-main-link .logo {
  grid-area: logo;
}
.footer-main-link .logo img {
  width: 49px;
}
.footer-main-link .footer-link1 {
  grid-area: link1;
  display: flex;
  width: 100%;
}
.footer-main-link .footer-link1 ul {
  padding-inline-start: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  width: 90%;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-link1 ul {
    width: 96%;
  }
}
@media (max-width: 767px) {
  .footer-main-link .footer-link1 ul {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.footer-main-link .footer-link1 ul a {
  text-decoration: none;
  margin: 5px 32px 10px 0;
  color: rgb(22, 22, 22);
  line-height: 1.8;
  font-size: 16px;
}
@media (max-width: 767px) {
  .footer-main-link .footer-link1 ul a {
    margin-right: 1rem;
  }
}
.footer-main-link .dropdown-price {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
  height: 65px;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price {
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-price {
    height: 100%;
  }
}
.footer-main-link .dropdown-price .dropdown {
  position: relative;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  width: 190px;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-price .dropdown {
    width: 100%;
  }
}
.footer-main-link .dropdown-price .dropdown .button-link {
  width: 100%;
  height: 61px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
  text-decoration: none;
  color: #5a5a58;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-price .dropdown .button-link {
    height: 100%;
  }
}
.footer-main-link .dropdown-price .dropdown .button-link div {
  font-size: 15px;
}
.footer-main-link .dropdown-price .dropdown #color-nation {
  color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-between;
  width: 85%;
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-price .dropdown #color-nation {
    width: 95%;
  }
}
.footer-main-link .dropdown-price .dropdown #color-nation img {
  width: 14px;
  height: 14px;
  margin-left: 30px;
}
.footer-main-link .dropdown-price .dropdown .dropdown-menu {
  position: absolute;
  left: -440px;
  top: -385px;
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  z-index: 100;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown .dropdown-menu {
    left: 0px;
    display: none;
  }
}
.footer-main-link .dropdown-price .dropdown .link {
  width: 100%;
  height: 40px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-family: inherit;
  cursor: pointer;
  padding: 0px 8px;
}
.footer-main-link .dropdown-price .dropdown .link:focus::before {
  content: url("/assets/img/icon-check.png");
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown .link {
    display: none;
  }
}
.footer-main-link .dropdown-price .dropdown .link:hover {
  padding-left: 20px;
  transition: padding-left 100ms ease-in-out;
}
.footer-main-link .dropdown-price .dropdown .button-link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  pointer-events: auto;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown .button-link:focus + .dropdown-menu {
    display: none;
  }
}
.footer-main-link .dropdown-price .dropdown .information-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 0.5rem;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown .information-grid {
    display: none;
  }
}
.footer-main-link .dropdown-price .dropdown .select-price > select {
  appearance: none;
  position: absolute;
  color: transparent;
  background: rgba(255, 255, 255, 0);
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0;
  outline: none;
  display: none;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-price .dropdown .select-price > select {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-price .dropdown .select-price > select {
    display: flex;
  }
}
.footer-main-link .dropdown-language {
  grid-area: language;
  display: flex;
  justify-content: flex-end;
  height: 65px;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language {
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-language {
    height: 100%;
  }
}
.footer-main-link .dropdown-language .dropdown {
  position: relative;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  width: 190px;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language .dropdown {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-language .dropdown {
    width: 100%;
  }
}
.footer-main-link .dropdown-language .dropdown .button-link {
  width: 100%;
  height: 61px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
  text-decoration: none;
  color: #5a5a58;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-language .dropdown .button-link {
    height: 100%;
  }
}
.footer-main-link .dropdown-language .dropdown .button-link div {
  font-size: 15px;
}
.footer-main-link .dropdown-language .dropdown #color-nation {
  color: rgb(22, 22, 22);
  display: flex;
  width: 85%;
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-language .dropdown #color-nation {
    width: 95%;
  }
}
.footer-main-link .dropdown-language .dropdown #color-nation span {
  margin-right: 10px;
}
.footer-main-link .dropdown-language .dropdown #color-nation .wrapper-text-arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-main-link .dropdown-language .dropdown #color-nation .wrapper-text-arrow img {
  width: 14px;
  height: 14px;
  margin-left: 60px;
}
.footer-main-link .dropdown-language .dropdown .dropdown-menu {
  position: absolute;
  left: -360px;
  top: -430px;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  z-index: 2;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language .dropdown .dropdown-menu {
    left: 0px;
    display: none;
  }
}
.footer-main-link .dropdown-language .dropdown .link {
  width: 100%;
  height: 45px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: none;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-family: inherit;
  cursor: pointer;
  padding: 0px 8px;
  font-size: 14px;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language .dropdown .link {
    display: none;
  }
}
.footer-main-link .dropdown-language .dropdown .link:hover {
  padding-left: 20px;
  transition: padding-left 150ms ease-in-out;
  -webkit-transition: padding-left 150ms ease-in-out;
  -o-transition: padding-left 150ms ease-in-out;
}
.footer-main-link .dropdown-language .dropdown .button-link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  pointer-events: auto;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language .dropdown .button-link:focus + .dropdown-menu {
    display: none;
  }
}
.footer-main-link .dropdown-language .dropdown .information-grid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 0.5rem;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language .dropdown .information-grid {
    display: none;
  }
}
.footer-main-link .dropdown-language .dropdown .select-language > select {
  appearance: none;
  position: absolute;
  color: transparent;
  background: rgba(255, 255, 255, 0);
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0;
  outline: none;
  display: none;
}
@media (max-width: 1023px) {
  .footer-main-link .dropdown-language .dropdown .select-language > select {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer-main-link .dropdown-language .dropdown .select-language > select {
    display: flex;
  }
}
.footer-main-link .footer-legal-link {
  grid-area: link2;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-legal-link {
    margin-top: 1rem;
  }
}
.footer-main-link .footer-legal-link ul {
  padding-inline-start: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 80%;
  width: 80%;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-legal-link ul {
    width: 89%;
  }
}
@media (max-width: 767px) {
  .footer-main-link .footer-legal-link ul {
    height: 100%;
  }
}
.footer-main-link .footer-legal-link ul a {
  font-size: 14px;
  text-decoration: none;
  margin-right: 2rem;
  color: rgb(22, 22, 22);
  line-height: 2;
}
.footer-main-link .footer-legal-link .copyright {
  font-size: 14px;
  margin-top: 10px;
  /*  @include fhd {
       padding: 0;
   } */
}
@media (max-width: 1023px) {
  .footer-main-link .footer-legal-link .copyright {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .footer-main-link .footer-legal-link .copyright {
    margin-bottom: 0.9rem;
    margin-top: 0;
  }
}
.footer-main-link .footer-privacy {
  grid-area: privacy;
}
@media (max-width: 767px) {
  .footer-main-link .footer-privacy {
    margin-top: 1rem;
  }
}
.footer-main-link .footer-privacy .image-privacy {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 1023px) {
  .footer-main-link .footer-privacy .image-privacy {
    justify-content: flex-start;
  }
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
* .light-section {
  max-width: 100%;
  width: 100%;
  height: 56px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
}
* .light-section .container-logo {
  width: 200px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 48px;
}
* .light-section .container-logo img {
  background-color: rgb(255, 255, 255);
}
* .light-section .container-link {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-left: 36px;
}
* .light-section .container-link span {
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
}
* .light-section .container-link span a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: #161616;
}
* .light-section .container-link span a:hover {
  color: rgb(255, 71, 71);
}
* .video-main {
  padding-top: 56px;
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: rgb(22, 22, 22);
}
* .video-main video {
  width: 100%;
  height: auto;
}
* .container-ea-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: rgb(22, 22, 22);
  color: #f3f3f3;
  padding-top: 30px;
}
* .container-ea-description .ea-description {
  width: 52%;
  height: auto;
  font-size: 24px;
}
* .container-ea-description .ea-description p {
  margin-top: 30px;
}
* .container-ea-description .ea-social {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
* .container-ea-description .ea-social .section-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: 18px;
  margin: 30px;
  justify-content: space-between;
}
* .container-ea-description .ea-social .section-social svg {
  width: 45px;
  fill: rgb(243, 243, 243);
}
* .container-ea-description .ea-social .section-social svg:hover {
  width: 50px;
}
* .container-game {
  max-width: 100%;
}
* .container-game .title-section-game {
  color: #f3f3f3;
  font-size: 44px;
  text-align: center;
  padding-top: 80px;
  background-color: rgb(22, 22, 22);
}
* .container-game .container-card {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(22, 22, 22);
}
* .container-game .container-card .section-card {
  max-width: 100%;
  width: auto;
  height: auto;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  background-color: rgb(22, 22, 22);
  gap: 30px;
  padding-top: 30px;
}
* .container-game .container-card .section-card .card {
  width: 350px;
  height: 350px;
  position: relative;
}
* .container-game .container-card .section-card .card .red {
  width: 100%;
  height: 100%;
}
* .container-game .container-card .section-card .card:hover .logo {
  overflow: hidden;
  transform: translate(0, -100px);
  transition: 1s;
}
* .container-game .container-card .section-card .card img {
  width: 100%;
}
* .container-game .container-card .section-card .card .logo {
  max-width: 50%;
  max-height: 20%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
* .container-game .container-card .section-card .card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: red;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
* .container-game .container-card .section-card .card:hover::before {
  opacity: 0.5;
}

.video-section {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 22);
}
.video-section .trailer-section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section .trailer-section h3 {
  color: #f3f3f3;
  font-size: 40px;
}
.video-section .trailer-video {
  width: 70%;
  height: 600px;
}
.video-section .trailer-video iframe {
  width: 100%;
  height: 100%;
}
.video-section .carousel-video {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.video-section .carousel-video .number-videos {
  width: 100px;
  text-align: center;
  margin: 0 20px;
  min-width: 100px;
}
.video-section .carousel-video svg {
  width: 40px;
  height: 40px;
  transform: scale(-1);
  fill: #f3f3f3;
}
.video-section .carousel-video #arrow-right {
  transform: scale(1);
}
.video-section .carousel-video span {
  color: #f3f3f3;
  font-size: 18px;
}

.news-letter-section {
  max-width: 100%;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: rgb(22, 22, 22);
  padding-top: 100px;
}
.news-letter-section .container-form {
  width: 85%;
  display: flex;
  padding-right: 28px;
}
.news-letter-section .description-form {
  width: 50%;
  height: 200px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
}
.news-letter-section .description-form h2 {
  font-size: 40px;
}
.news-letter-section .description-form p {
  padding-top: 20px;
  line-height: 25px;
  font-size: 18px;
}
.news-letter-section .form {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.news-letter-section .form .input-email {
  width: 100%;
  height: 60px;
}
.news-letter-section .form input {
  font-size: 14px;
  background-color: rgb(22, 22, 22);
}
.news-letter-section .form #email {
  width: 100%;
  height: 60px;
  border: 2px solid white;
  padding-left: 30px;
  border-radius: 3px;
}
.news-letter-section .form #email:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.news-letter-section .form .form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  height: 70px;
}
.news-letter-section .form .form-row #date {
  width: 48%;
  height: 60px;
  border: 2px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.news-letter-section .form .form-row #date:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.news-letter-section .form .form-row #date #date-of-birth {
  border: none;
  padding-left: 30px;
}
.news-letter-section .form .form-row span {
  color: #f3f3f3;
}
.news-letter-section .form #state {
  width: 48%;
  height: 60px;
  border: 2px solid white;
  display: flex;
  align-items: center;
}
.news-letter-section .form #state:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.news-letter-section .form #state .span-state {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.news-letter-section .form #state .span-state .title-state {
  font-size: 14px;
  color: rgb(163, 163, 163);
}
.news-letter-section .form #state .span-state .StatiUniti {
  font-size: 18px;
}
.news-letter-section .form .legal-optin {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.news-letter-section .form .input-checkbox {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news-letter-section .form .input-checkbox svg {
  fill: #f3f3f3;
  width: 20px;
}
.news-letter-section .form .input-checkbox svg:hover rect, .news-letter-section .form .input-checkbox svg:hover .path {
  display: none;
}
.news-letter-section .form .checkbox-label {
  width: 100%;
  height: 100%;
  color: #f3f3f3;
}
.news-letter-section .form .checkbox-label p {
  color: #f3f3f3;
  font-size: 18px;
  line-height: 23px;
}
.news-letter-section .form .checkbox-label p a {
  text-decoration: none;
  color: rgb(255, 71, 71);
}
.news-letter-section .form .button {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  margin-top: 30px;
  background-color: rgb(22, 22, 22);
}
.news-letter-section .form .button input[type=submit] {
  background-color: rgb(255, 71, 71);
  width: 136px;
  height: 56px;
  font-size: 18px;
  color: #f3f3f3;
  border: none;
  border-radius: 3px;
}
.news-letter-section .form .button input[type=submit]:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
