// Giuseppe - inizio -----------------------------------------------------------------------
$fs-h1: (
  desktop-large: 2.75rem,
  desktop: 2.5rem,
);
// Giuseppe - fine -----------------------------------------------------------------------

// Dario - inizio -----------------------------------------------------------------------
$fs-h3: (
  desktop-large: 2.75rem,
  desktop: 2.5rem,
  tablet: 2rem,
  mobile: 2rem,
);

$fs-h4: (
  desktop-large: 1.5rem,
  desktop: 1.5rem,
  tablet: 1.25rem,
  mobile: 1.25rem,
);

$fs-h5: (
  desktop-large: 1rem,
  desktop: 0.875rem,
  tablet: 0.875rem,
  mobile: 0.875rem,
);

$fs-p: (
  desktop-large: 1.125rem,
  desktop: 1.125rem,
  tablet: 1rem,
  mobile: 1rem,
);

$fs-tabs: (
  desktop-large: 1.125rem,
  desktop: 1.125rem,
  tablet: 1rem,
  mobile: 1rem,
);

$fs-cta: (
  desktop-large: 1.125rem,
  desktop: 1.125rem,
  tablet: 1rem,
  mobile: 1rem,
);
// Dario - fine -----------------------------------------------------------------------