// Dario - inizio -----------------------------------------------------------------------
$da-font-family: (
  heading: unquote($string: "ElectronicArtsDisplay, verdana, Helvetica, Arial, sans-serif"),
  text: unquote($string: "ElectronicArtsText, verdana, Helvetica, Arial, sans-serif"),
)
// Dario - fine -------------------------------------------------------------------------