$ultimi-giochi-font: (
    heading: unquote($string: "ElectronicArtsDisplay, verdana, Helvetica, Arial, sans-serif"),
    text: unquote($string: "ElectronicArtsText, verdana, Helvetica, Arial, sans-serif"),
);


