@use '../../abstracts' as *;

.ultime-novita {
  h3 {
    font-family: map-get($map: $font-family, $key: heading);
    font-size: map-get($map: $fs-h3, $key: mobile);
    color: map-get($map: $colors, $key: dark);
    margin-bottom: rem(32);

    @include breakpoint(tablet) {
      font-size: map-get($map: $fs-h3, $key: tablet);
    }
    
    @include breakpoint(desktop) {
      font-size: map-get($map: $fs-h3, $key: desktop);
    }
    
    @include breakpoint(desktop-large) {
      font-size: map-get($map: $fs-h3, $key: desktop);
    }
  }
}