@use '../../abstracts' as *;

.ultime-novita {
  .tabs {
    position: relative;

    ul {
      display: flex;

      li {
        list-style: none;
        font-family: map-get($map: $font-family, $key: text);
        font-size: map-get($map: $fs-tabs, $key: mobile);
        color: map-get($map: $colors, $key: dark);

        flex-shrink: 0;
        padding-inline: rem(18);

        height: rem(30);
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(tablet) {
          font-size: map-get($map: $fs-tabs, $key: tablet);
        }
        
        @include breakpoint(desktop) {
          font-size: map-get($map: $fs-tabs, $key: desktop);
        }
        
        @include breakpoint(desktop-large) {
          font-size: map-get($map: $fs-tabs, $key: desktop);
        }
      }

      li + li {
        border-left: 2px solid map-get($map: $colors, $key: borders);
      }
    }

    ul::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: map-get($map: $colors, $key: borders);
      bottom: -15px;
    }
  }
}