// Dario - inizio ---------------------------------------------------------------------------------------------

// REUSABLE 6 ITEM GRID LAYOUT - START - ref: homepage 'ultime novità' --------------------------------

@import '../../1-abstracts/variables/breakpoints/breakpoints-dario';
@import '../../1-abstracts/mixins/breakpoints/breakpoints-dario';

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four'
  'five'
  'six';

  @include da-breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'one two'
    'three four'
    'five six';
    gap: 1.5rem;
  }

  @include da-breakpoint(desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'one two three'
    'four five six';
    gap: 1rem;
  }
  
  @include da-breakpoint(desktop-large) {
    width: 68rem;
  }
}
// REUSABLE 6 ITEM GRID LAYOUT - END ---------------------------------

// Dario - fine ---------------------------------------------------------------------------------------------