@import "../../atomic-design/1-abstracts/variables/colors/colors-christian";
@import "../../atomic-design/1-abstracts/variables/breakpoints/breakpoints-josephine";
@import "../../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-josephine";
@import "../../atomic-design/4-layouts/navbars/navbar-1-dario";
@import "../../atomic-design/4-layouts/sidebars/sidebars-1-dario";
@import "../../atomic-design/4-layouts/footers/footer-1-josephine";

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;

  // video sotto la nav-bar
  .video-main {
    max-width: 100%;
    width: 100%;
    height: auto;
    background-color: $bg;
    margin-top: 96px;

    video {
      width: 100%;
      height: auto;
    }
  }

  // section-container-stories

  .container-ea-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: $bg;

    color: #f3f3f3;
    padding-top: 30px;

    .ea-description {
      width: 52%;
      height: auto;
      font-size: 24px;

      p {
        margin-top: 30px;
      }
    }

    //container loghi social

    .ea-social {
      display: flex;
      justify-content: center;

      height: auto;
      margin-top: 30px;

      .section-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 80px;
        font-size: 18px;
        margin: 30px;
        justify-content: space-between;

        svg {
          width: 45px;
          fill: rgb(243, 243, 243);

          &:hover {
            width: 50px;
          }
        }
      }
    }
  }

  // sezione cards-game

  .container-game {
    max-width: 100%;

    .title-section-game {
      color: #f3f3f3;
      font-size: 44px;
      text-align: center;
      padding-top: 80px;
      background-color: $bg;
    }

    .container-card {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: $bg;

      .section-card {
        max-width: 100%;
        width: 80%;
        height: auto;
        background-color: #f3f3f3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        justify-items: center;
        background-color: $bg;
        gap: 30px;
        padding-top: 30px;

        .card {
          position: relative;

          .red {
            width: 100%;
            height: 100%;
          }

          &:hover .logo {
            overflow: hidden;
            transform: translate(0, -100px);
            transition: 1s;
          }

          img {
            width: 100%;
          }

          .logo {
            max-width: 50%;
            max-height: 20%;
            overflow: auto;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }

        .card::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: red;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
        .card:hover::before {
          opacity: 0.5;
        }
      }
    }
  }

  // sezione video-carousel
  .video-section {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;

    .trailer-section {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        color: #f3f3f3;
        font-size: 40px;
      }
    }

    .trailer-video {
      width: 70%;
      height: 700px;
      max-width: 100%;
      max-height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .carousel-video {
      width: 50%;
      height: 100px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .number-videos {
        width: 100px;
        text-align: center;
        margin: 0 20px;
        min-width: 100px;
      }

      //freccia sinistra

      svg {
        width: 40px;
        height: 40px;
        transform: scale(-1);
        fill: #f3f3f3;
      }

      //freccia destra
      #arrow-right {
        transform: scale(1);
      }

      span {
        color: #f3f3f3;
        font-size: 18px;
      }
    }
  }

  // sezione news-letter

  .news-letter-section {
    max-width: 100%;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: $bg;
    padding-top: 100px;

    .container-form {
      width: 85%;
      display: flex;
      padding-right: 28px;
    }

    .description-form {
      width: 50%;
      height: 200px;
      color: #f3f3f3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 28px;

      h2 {
        font-size: 40px;
      }

      p {
        padding-top: 20px;
        line-height: 25px;
        font-size: 18px;
      }
    }

    .form {
      width: 50%;
      height: 300px;

      display: flex;
      flex-direction: column;

      .input-email {
        width: 100%;
        height: 60px;
      }

      input {
        font-size: 14px;
        background-color: $bg;
      }

      #email {
        width: 100%;
        height: 60px;
        border: 2px solid white;
        padding-left: 30px;
        border-radius: 3px;

        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
        }
      }

      .form-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;

        width: 100%;
        height: 70px;

        #date {
          width: 48%;
          height: 60px;
          border: 2px solid white;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
          }

          #date-of-birth {
            border: none;
            padding-left: 30px;
          }
        }

        span {
          color: #f3f3f3;
        }
      }

      #state {
        width: 48%;
        height: 60px;
        border: 2px solid white;
        display: flex;
        align-items: center;

        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
        }

        .span-state {
          padding-left: 30px;
          display: flex;
          flex-direction: column;

          .title-state {
            font-size: 14px;
            color: rgb(163, 163, 163);
          }

          .StatiUniti {
            font-size: 18px;
          }
        }
      }

      .legal-optin {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
      }

      .input-checkbox {
        width: 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        svg {
          fill: #f3f3f3;
          width: 20px;
        }
        svg:hover {
          rect,
          .path {
            display: none;
          }
        }
      }

      .checkbox-label {
        width: 100%;
        height: 100%;
        color: #f3f3f3;

        p {
          color: #f3f3f3;
          font-size: 18px;
          line-height: 23px;

          a {
            text-decoration: none;
            color: rgb(255, 71, 71);
          }
        }
      }

      .button {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        margin-top: 30px;
        background-color: $bg;

        input[type="submit"] {
          background-color: rgb(255, 71, 71);
          width: 136px;
          height: 56px;
          font-size: 18px;
          color: #f3f3f3;
          border: none;
          border-radius: 3px;

          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
          }
        }
      }
    }
  }

  // barra chiara prima del footer

  .section-local-footer {
    max-width: 100%;
    width: 100%;
    height: 200px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 2rem;


    .ea-local-footer {
      width: 1120px;
      height: 150px;
      display: flex;
      justify-content: space-between;
      .ea-local-links {
        width: 200px;
        height: auto;
        h3 {
          font-size: 16px;
          margin-bottom: 7px;
        }

        .local-span-links {
          span {
            margin-right: 40px;
            font-size: 16px;
          }
        }
      }
    }
    .ea-social-links {
      width: 240px;
      height: auto;

      h3 {
        font-size: 16px;
        margin-bottom: 7px;
        text-align: right;
      }
      .social-span-links {
        display: flex;
        justify-content: space-between;

        span {
          width: 22px;
          height: 22px;
          fill: #282828;
        }
      }
    }
  }
}
// response smartphone

@media screen and (max-width: 780px) {
  .section-card {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .container-ea-description {
    width: 100%;
    height: 100%;

    .ea-description {
      width: 90%;
    }
  }

  .ea-social {
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 50%;
    height: 30px;

  }
  .container-form {
    display: flex;
    flex-direction: column;

    width: 100%;

  }
  .news-letter-section {
    width: 100%;
    height: 100%;
    .description-form {
      width: 100%;
      height: auto;
      h2 {
        width: 100%;
      }
    }
  }
  .news-letter-section {
    .form {
      width: 100%;
      height: 100%;

      .form-row {


        #date{

        #date-of-birth {
          padding: 10px;
          width: 100%;
        }

    }
      }

      #state{
        .span-state{
            padding: 10px;
        }
      }
    }
  }
}
@media screen and ( min-width: 780px) and (max-width: 1020px){
    .section-card {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
      }
}
