@import "../../atomic-design/1-abstracts/variables/colors/colors-christian";


* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    // nav-bar nera



    // nav-bar bianca
    .light-section {
        max-width: 100%;
        width: 100%;
        height: 56px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: fixed;



        .container-logo {
            width: 200px;
            height: 100%;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 48px;

            img {
                background-color: rgb(255, 255, 255);
            }
        }

        .container-link {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: rgb(255, 255, 255);
            margin-left: 36px;

            span {

                font-size: 18px;
                background-color: rgb(255, 255, 255);
                margin-left: 20px;








                a {
                    text-decoration: none;
                    background-color: rgb(255, 255, 255);
                    color: #161616;

                    &:hover {
                        color: rgb(255, 71, 71);

                    }
                }

            }
        }
    }



    // video sotto la nav-bar
    .video-main {
        padding-top: 56px;
        max-width: 100%;
        width: 100%;
        height: auto;
        background-color: $bg ;


        video {
            width: 100%;
            height: auto;

        }

    }



    // section-container-stories

    .container-ea-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        background-color: $bg ;

        color: #f3f3f3;
        padding-top: 30px;





        .ea-description {
            width: 52%;
            height: auto;
            font-size: 24px;


            p {
                margin-top: 30px;
            }


        }

        //container loghi social

        .ea-social {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-top: 30px;


            .section-social {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                height: 80px;
                font-size: 18px;
                margin: 30px;
                justify-content: space-between;

                svg {
                    width: 45px;
                    fill: rgb(243, 243, 243);

                    &:hover {
                        width: 50px;


                    }
                }




            }

        }




    }

    // sezione cards-game

    .container-game {

        max-width: 100%;

        .title-section-game {
            color: #f3f3f3;
            font-size: 44px;
            text-align: center;
            padding-top: 80px;
            background-color: $bg;

        }

        .container-card {
            max-width: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $bg ;


            .section-card {
                max-width: 100%;
                width: auto;
                height: auto;
                background-color: #f3f3f3;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
                background-color: $bg;
                gap: 30px;
                padding-top: 30px;







                .card {


                    width: 350px;
                    height: 350px;
                    position: relative;

                    .card::before{
                        background-color: red;
                    }


                   .red{
                    width: 100%;
                    height: 100%;

                    }
                    &:hover .red{
                        width: 100%;
                        height: 100%;
                        background-color: red;
                    }





                    &:hover .logo{
                        overflow: hidden;
                        transform: translate( 0,-100px);
                        transition: 1s;

                    }


                    img {
                        width: 100%;


                    }











                    .logo {


                        max-width: 50%;
                        max-height: 20%;
                        overflow: auto;
                        margin: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;



                        }
                    }




                }
            }





        }
    }

























// sezione video-carousel
.video-section {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg ;

    .trailer-section {
        width: 100%;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;


        h3 {
            color: #f3f3f3;
            font-size: 40px;

        }
    }

    .trailer-video {
        width: 70%;
        height: 600px;

        iframe {
            width: 100%;
            height: 100%;


        }


    }

    .carousel-video {
        width: 50%;
        height: 100px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .number-videos {
            width: 100px;
            text-align: center;
            margin: 0 20px;
            min-width: 100px;
        }

        //freccia sinistra

        svg {
            width: 40px;
            height: 40px;
            transform: scale(-1);
            fill: #f3f3f3;


        }

        //freccia destra
        #arrow-right {

            transform: scale(1);


        }





        span {
            color: #f3f3f3;
            font-size: 18px;
        }

    }
}



// sezione news-letter

.news-letter-section {
    max-width: 100%;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: $bg ;
    padding-top: 100px;


    .container-form {
        width: 85%;
        display: flex;
        padding-right: 28px;


    }

    .description-form {
        width: 50%;
        height: 200px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 28px;





        h2 {
            font-size: 40px;
        }

        p {
            padding-top: 20px;
            line-height: 25px;
            font-size: 18px;
        }

    }

    .form {
        width: 50%;
        height: 300px;

        display: flex;
        flex-direction: column;

        .input-email {
            width: 100%;
            height: 60px;
        }



        input {
            font-size: 14px;
            background-color: $bg ;
        }

        #email {
            width: 100%;
            height: 60px;
            border: 2px solid white;
            padding-left: 30px;
            border-radius: 3px;

            &:hover {
                transform: scale(1.1);
                transition: 0.2s;
            }






        }

        .form-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;


            width: 100%;
            height: 70px;



            #date {
                width: 48%;
                height: 60px;
                border: 2px solid white;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s;

                }

                #date-of-birth {
                    border: none;
                    padding-left: 30px;
                }



            }

            span {
                color: #f3f3f3;


            }

        }


        #state {
            width: 48%;
            height: 60px;
            border: 2px solid white;
            display: flex;
            align-items: center;


            &:hover {
                transform: scale(1.1);
                transition: 0.2s;

            }

            .span-state {
                padding-left: 30px;
                display: flex;
                flex-direction: column;


                .title-state {
                    font-size: 14px;
                    color: rgb(163, 163, 163);


                }

                .StatiUniti {
                    font-size: 18px;
                }
            }





        }

        .legal-optin {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin-top: 60px;






        }

        .input-checkbox {
            width: 5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;


            svg {
                fill: #f3f3f3;
                width: 20px;



            }







        }







        .checkbox-label {
            width: 100%;
            height: 100%;
            color: #f3f3f3;

            p {
                color: #f3f3f3;
                font-size: 18px;
                line-height: 23px;

                a {
                    text-decoration: none;
                    color: rgb(255, 71, 71);
                }
            }


        }





        .button {
            width: 100%;
            height: 90px;
            display: flex;
            align-items: flex-end;
            align-content: flex-end;
            margin-top: 30px;
            background-color: $bg ;







            input[type=submit] {
                background-color: rgb(255, 71, 71);
                width: 136px;
                height: 56px;
                font-size: 18px;
                color: #f3f3f3;
                border: none;
                border-radius: 3px;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s;
                }

            }


        }

    }
    footer {
        font-family: ElectronicArtsText, Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        background-color: #f3f3f3;



      }

      .footer-main-link {
          height: 250px;
          padding: 15px 80px 23px;
          background-color: #f3f3f3;
          width: 90%;
          margin: 0 auto;
          display: grid;
          gap: 5px;
          grid-template-columns: 1fr 7fr 3fr 3fr;
          grid-template-rows: 88px auto;
          grid-template-areas:
              "logo link1 price language"
              "logo link2 link2 privacy";








          .logo {
              grid-area: logo;

              img {
              width: 49px;
              }
          }

          .footer-link1 {
              grid-area: link1;
              display: flex;
              width: 100%;

              ul {
                  padding-inline-start: 0px;
                  list-style-type: none;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  height: 100%;
                  width: 90%;



                  a {
                      text-decoration: none;
                      margin: 5px 32px 10px 0;

                      line-height: 1.8;
                      font-size: 16px;



                  }
              }
          }

          .dropdown-price {
              grid-area: price;
              display: flex;
              justify-content: flex-end;
              height: 65px;



              .dropdown {
              position: relative;
              border: 2px solid #c2c2c2;
              border-radius: 3px;
              width: 190px;


                  .button-link {
                      width: 100%;
                      height: 61px;
                      text-align: left;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-evenly;
                      background: none;
                      border: none;
                      text-decoration: none;
                      color: #5a5a58;
                      font-family: inherit;
                      cursor: pointer;
                      padding: 0;
                      margin-left: 10px;



                      div {
                      font-size: 15px;
                      }
                  }

                  #color-nation {

                      display: flex;
                      justify-content: space-between;
                      width: 85%;



                      img {
                      width: 14px;
                      height: 14px;
                      margin-left: 30px;
                      }
                  }

                  .dropdown-menu {
                      position: absolute;
                      left: -440px;
                      top: -385px;

                      padding: 0.75rem;
                      border-radius: 0.25rem;
                      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
                      opacity: 0;
                      transform: translateY(-10px);
                      -webkit-transform: translateY(-10px);
                      -ms-transform: translateY(-10px);
                      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
                      -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
                      -o-transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
                      pointer-events: none;
                      z-index: 100;

                  }

                  .link {
                      width: 100%;
                      height: 40px;
                      text-align: left;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background: none;
                      border-bottom: 1px solid #eaeaea;
                      text-decoration: none;

                      font-family: inherit;
                      cursor: pointer;
                      padding: 0px 8px;

                      &:focus::before {
                          content: url('/assets/img/icon-check.png');
                      }


                  }

                  .link:hover {
                      padding-left: 20px;
                      transition: padding-left 100ms ease-in-out;
                  }

                  .button-link:focus + .dropdown-menu {
                      opacity: 1;
                      transform: translateY(0);
                      -webkit-transform: translateY(0);
                      -ms-transform: translateY(0);
                      pointer-events: auto;

                  }

                  .information-grid {
                      display: grid;
                      grid-template-columns: repeat(4, 150px);
                      gap: .5rem;

                  }

                  .select-price > select  {
                      appearance: none;
                      position: absolute;
                      color: transparent;
                      background: rgba(255,255,255,0);
                      bottom: 0;
                      width: 100%;
                      height: 100%;
                      cursor: pointer;
                      border: 0;
                      outline: none;
                      display: none;


                  }
              }
          }

          .dropdown-language {
              grid-area: language;
              display: flex;
              justify-content: flex-end;
              height: 65px;


              .dropdown {
                  position: relative;
                  border: 2px solid #c2c2c2;
                  border-radius: 3px;
                  width: 190px;


                  .button-link {
                      width: 100%;
                      height: 61px;
                      text-align: left;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-evenly;
                      background: none;
                      border: none;
                      text-decoration: none;
                      color: #5a5a58;
                      font-family: inherit;
                      cursor: pointer;
                      padding: 0;
                      margin-left: 10px;



                      div {
                          font-size: 15px;
                      }
                  }

                  #color-nation {

                      display: flex;
                      width: 85%;



                      span {
                          margin-right: 10px;
                      }

                      .wrapper-text-arrow {
                          display: flex;
                          width: 100%;
                          justify-content: space-between;

                          img {
                              width: 14px;
                              height: 14px;
                              margin-left: 60px;
                          }
                      }
                  }

                  .dropdown-menu {
                      position: absolute;
                      left: -360px;
                      top: -430px;
                      background-color: white;
                      padding: 0.75rem;
                      border-radius: 0.25rem;
                      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
                      opacity: 0;
                      transform: translateY(-10px);
                      -webkit-transform: translateY(-10px);
                      -ms-transform: translateY(-10px);
                      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
                      -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
                      -o-transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
                      pointer-events: none;
                      z-index: 2;


                  }

                  .link {
                      width: 100%;
                      height: 45px;
                      text-align: left;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      gap: 10px;
                      background: none;
                      border-bottom: 1px solid #eaeaea;
                      text-decoration: none;

                      font-family: inherit;
                      cursor: pointer;
                      padding: 0px 8px;
                      font-size: 14px;


                  }

                  .link:hover {
                      padding-left: 20px;
                      transition: padding-left 150ms ease-in-out;
                      -webkit-transition: padding-left 150ms ease-in-out;
                      -o-transition: padding-left 150ms ease-in-out;
                  }

                  .button-link:focus + .dropdown-menu {
                      opacity: 1;
                      transform: translateY(0);
                      -webkit-transform: translateY(0);
                      -ms-transform: translateY(0);
                      pointer-events: auto;


                  }

                  .information-grid {
                      display: grid;
                      grid-template-columns: repeat(3, 180px);
                      gap: .5rem;


                  }

                  .select-language > select  {
                      appearance: none;
                      position: absolute;
                      color: transparent;
                      background: rgba(255,255,255,0);
                      bottom: 0;
                      width: 100%;
                      height: 100%;
                      cursor: pointer;
                      border: 0;
                      outline: none;
                      display: none;


                  }
              }
          }

          .footer-legal-link {
              grid-area: link2;



              ul {
                  padding-inline-start: 0px;
                  list-style-type: none;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  height: 80%;
                  width: 80%;


                  a {
                      font-size: 14px;
                      text-decoration: none;
                      margin-right: 2rem;
                     
                      line-height: 2;
                  }
              }

              .copyright {
                  font-size: 14px;
                  margin-top: 10px;



                 /*  @include fhd {
                      padding: 0;
                  } */
              }
          }

          .footer-privacy {
              grid-area: privacy;



              .image-privacy {
                  height: 100%;
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-end;

              }
          }
      }
      // Josephine - fine ------------------------------------------------------------------------------------------


}