// DARIO - inizio ------------------------------------------------------------------------------------------

// .hero {
//    video {
//      source {...}
//    } 
//    video {
//      source {...}
//    }
//    picture.games {...}
//    picture.pegi {...}
// }

// ATTENZIONE! Fare attenzione all' html... deve essere nel modo giusto -----> ref: \html\games\coming-soon.html 

// ATTENZIONE! Adjust '.hero {margin-top}' to match the navbar's height on the different screen sizes

@import '../../1-abstracts/variables/breakpoints/breakpoints-dario';
@import '../../1-abstracts/mixins/breakpoints/breakpoints-dario';

header {
  .hero {
    position: relative;
    margin-top: 93px;

    video {
      width: 100%;
      display: none;
    }
  
    picture {
      img {
        width: 100%;
      }

      &.pegi {
        position: absolute;
        inset: 0;
        display: none;
      }
    }
  }

  @include da-breakpoint(tablet) {
    .hero {
      margin-top: 93px;

      picture {
        &.pegi {
          display: block;
        }
      }
    }
  }

  @include da-breakpoint(desktop) {
    .hero {
      margin-top: 96px;

      video:nth-child(2) {
        display: block;
        position: absolute;
        z-index: -10;
        bottom: 0;
      }

      picture {
        &.games {
          display: none;
        }

        &.pegi {
          position: relative;
        }
      }
    }
  }

  @include da-breakpoint(desktop-large) {
    .hero {
      margin-top: 100px;

      video:nth-child(1) {
        display: block;
      }

      video:nth-child(2) {
        display: none;
      }

      picture {
        &.pegi {
          position: absolute;
        }
      }
    }
  }
}