@import '../../atomic-design/1-abstracts/functions/units/units-giuseppe';
@import '../../atomic-design/1-abstracts/variables/breakpoints/breakpoints-josephine';
@import '../../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-josephine';
@import '../../atomic-design/4-layouts/footers/footer-1-josephine';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../atomic-design/2-base/typography/sports/sports';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
}

header {
    .video-wrapper {
        // Riferimento "relative" per lo sfondo "Absolute" 
        position: relative;
        width: 100vw;
        height: 650px;

        background: linear-gradient(
            to top,
            black, 
            transparent
        );

        //Non permette al Video di Uscire fuori al container
        overflow: hidden;

        video {
            //Simuliamo la proprietà background-size: cover;
            object-fit: cover;
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            z-index: -100;
            filter: url('#squiggly-2') brightness(0.4);
        }

        #pegi-logo {
            max-width: 64px;
            max-height: 64px;
        }

        .wrapper-title {
            color: #fff;
            
            h1 {
                font-size: 44px;
                font-family: "Juana W05 Bold";
                font-style: normal;
                font-weight: 600;
            }
    
            h4 {
                font-size: 24px;
                font-family: "FS Industrie W05 Regular";
                font-style: normal;
                font-weight: 400;
                
                @include media-breakpoint-down(lg) {
                    font-size: rfs-fluid-value(20px);
                  }

                a {
                    color: #FF4747;
                    text-decoration: none;
                }
            }
        }
    }
}

#card-section {
    background-color: #000;

    img {
        width: 390px;
        opacity: 0.7;
        margin: 0 auto;

        &:hover {
            opacity: 1;
        }
    }

    .btn-lg {
        --bs-btn-border-radius: 0.2rem;
        font-family: "FS Industrie W05 Regular";
        font-size: 18px;
        padding: 12px 24px;
    }
}