@import '../../atomic-design/1-abstracts/functions/units/units-giuseppe';
@import '../../atomic-design/1-abstracts/variables/breakpoints/breakpoints-josephine';
@import '../../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-josephine';
@import '../../atomic-design/4-layouts/footers/footer-1-josephine';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../atomic-design/2-base/typography/sports/sports';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
}

.container-fluid {
    --bs-gutter-x:0;
}

header {
    width: 100vw;
    
    video {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: fixed;
        z-index: -100;
        filter: url('#squiggly-2') brightness(0.4);
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    .wrapper-title {
        color: #fff;
        
        h1 {
            font-size: 44px;
            font-family: "Juana W05 Bold";
        }

        h4 {
            font-size: 24px;
            font-family: "FS Industrie W05 Regular";

            a {
                color: #FF4747;
                text-decoration: none;
            }
        }
    }
}

.cards {
    width: 100%;
    height: 1000px;
    background: linear-gradient(
        to top,
        black, 
        transparent
      );
}