// Dario - inizio -------------------------------------------------------------

// .navbar {
//    .dark-section {
//        ul {
//          li {
//            a {
//              svg.account {
//                 path {...}
//              }
//            }
//          }
//          li {
//            a {
//              svg.help {
//                 path {...}
//              }
//            }
//          }
//          li {
//            a {
//              svg.ea {
//                 path {...}
//              }
//            }
//          }
//        }
//    }
//    .light-section {
//        .toggle {
//          .dot {...}
//        }
//        a {
//          img {...}
//        }
//        .dropdowns {
//          .dropdown.dropdown-1 {
//            .dropdown-button {
//              p {...}
//              .arrow {...}
//            }
//            .dropdown-menu-wrapper {
//              .dropdown-menu {
//                .col-1 {
//                   h3 {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                }
//                .col-2 {
//                   h3 {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                   a {...}
//                }
//              }
//            }
//          }
//          .dropdown {
//            .dropdown-button {
//              p {...}
//              .arrow {...}
//            }
//            .dropdown-menu-wrapper {
//              .dropdown-menu {
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//             }
//           }
//          .dropdown {
//            .dropdown-button {
//              p {...}
//              .arrow {...}
//            }
//            .dropdown-menu-wrapper {
//              .dropdown-menu {
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//             }
//           }
//          .dropdown {
//            .dropdown-button {
//              p {...}
//              .arrow {...}
//            }
//            .dropdown-menu-wrapper {
//              .dropdown-menu {
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//             }
//           }
//          .dropdown {
//            .dropdown-button {
//              p {...}
//              .arrow {...}
//            }
//            .dropdown-menu-wrapper {
//              .dropdown-menu {
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//                a {...}
//             }
//           }
//        }
// }

.navbar {
  .dark-section {
    height: rem(40px);
    background-color: rgb(22 22 22);
  
    ul {
      list-style: none;
  
      height: inherit;
      margin-inline: rem(32px);
      min-width: rem(calc(215px - (32px * 2)));
  
      @include flexbox($justify-content: flex-end);
      gap: rem(40px);
  
      li {
  
        a {
          display: block;
  
          svg {
            display: block;
            fill: rgb(163, 163, 163);
            
            &.account {
              width: rem(18px);
              height: rem(18px);
              margin-right: 4px;
            }
  
            &.help {
              width: rem(18px);
              height: rem(18px);
              margin-right: -5px;
            }
  
            &.ea {
              width: rem(32px);
              height: rem(32px);
              margin-right: 4px;
              fill: rgb(117, 117, 117);
            }
  
            &:hover {
              fill: rgb(243, 242, 242);
  
              &.ea {
              fill: rgb(163, 163, 163);
              }
            }
          }
        }
      }
    }
  }

  .light-section {
    @include flexbox($justify-content: flex-start, $align-items: stretch);
    gap: 0.9rem;
    
    height: rem(53px);
    background-color: map-get($map: $da-color, $key: white);

    & > * {
      flex: 0 0 auto;
    }

    .toggle {
      align-self: center;
      margin-left: 0.85rem;

      height: 20px;
      width: 20px;

      @include flexbox;
      cursor: pointer;

      .dot {
        height: 2px;
        width: 20px;
        border-radius: 4.5px;
        background-color: black;

        position: relative;

        &::before, &::after {
          content: '';
          height: 2px;
          width: 20px;
          border-radius: 4.5px;
          background-color: black;

          display: block;
          position: absolute;
        }

        &::before {
          transform: translateY(-7px);
        }

        &::after {
          transform: translateY(7px);
        }
      }

      &:hover {
        .dot {
          background-color: map-get($map: $da-color, $key: accent);
  
          &::before, &::after {
            background-color: map-get($map: $da-color, $key: accent);
          }
        }
      }
    }

    a {
      display: block;
      width: rem(90px);
      align-self: center;
    }

    .dropdowns {
      @include flexbox($justify-content: flex-start, $align-items: stretch);
      gap: 20px;
      margin-left: 1.5rem;

      display: none;

      .dropdown {
        position: relative;
        color: map-get($map: $da-color, $key: dark);

        @include flexbox;

        cursor: pointer;

        .dropdown-button {
          @include flexbox;
          gap: 4px;

          p {
            text-transform: capitalize;
            font-size: map-get($map: $da-fs-p, $key: desktop);
            letter-spacing: -0.5px;
          }

          .arrow {
            height: 15px;
            width: 15px;

            position: relative;
            @include flexbox;

            &::before, &::after {
              content: '';
              width: 60%;
              height: .5px;
              background-color: map-get($map: $da-color, $key: dark);
              border-radius: 1px;

              display: block;
              position: absolute;

              transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            }

            &::before {
              transform: translate(-30%) rotate(45deg);
            }
            
            &::after {
              transform: translate(30%) rotate(-45deg);
            }
          }
        }

        .dropdown-menu-wrapper {
          position: absolute;
          top: 50px;
          left: 0;
          z-index: 10;

          pointer-events: none;
          cursor: pointer;

          transform: scaleY(0);
          transform-origin: center top;

          transition: transform 0.3s cubic-bezier(0.5, 0.25, 0.015, 1);

          .dropdown-menu {
            background-color: map-get($map: $da-color, $key: white-tr-100);
  
            border-radius: 4px;
            padding-block: 25px;
            padding-left: 35px;
            padding-right: 50px;

            margin-top: 14px;
            margin-left: -30px;
  
            a {
              text-decoration: none;
              text-transform: capitalize;
              line-height: 1rem;
              color: map-get($map: $da-color, $key: text-light);
              font-size: map-get($map: $da-fs-p, $key: mobile);
              width: max-content;
  
              transform: translateY(-5px);
              opacity: 0;
              
              transition-property: transform, opacity;
              transition-duration: 0.4s;
              transition-delay: 0.1s;
              transition-timing-function: cubic-bezier(0.5, 0.25, 0.015, 1);

              & + a {
                margin-top: rem(20px);
              }
            }

            a:hover {
              color: map-get($map: $da-color, $key: accent);
              transition: none;
            }
          }
        }
      }

      .dropdown:first-of-type {
        .dropdown-menu {
          @include flexbox($align-items: flex-start);
          gap: 50px;
          padding-block: 40px 50px;

          h3 {
            width: max-content;
            text-transform: uppercase;
            line-height: 34px;
            font-size: map-get($map: $da-fs-p, $key: mobile);
            letter-spacing: 1px;
            border-bottom: 1px solid map-get($map: $da-color, $key: borders-light);

            transform: translateY(-5px);
            opacity: 0;

            transition-property: transform, opacity;
            transition-duration: 0.3s;
            transition-delay: 0.1s;
            transition-timing-function: cubic(0.5, 0.25, 0.015, 1);
          }

          a:first-of-type {
            margin-top: rem(20px);
          }
        }
      }

      .dropdown:hover {
        .dropdown-button {
          p {
            color: map-get($map: $da-color, $key: accent);
          }

          .arrow::before {
            transform: translate(-30%) rotate(-45deg);
            background-color: map-get($map: $da-color, $key: accent);
          }
        
          .arrow::after {
            transform: translate(30%) rotate(45deg);
            background-color: map-get($map: $da-color, $key: accent);
          }
        }

        .dropdown-menu-wrapper {
          pointer-events: auto;
          transform: scaleY(1);

          .dropdown-menu {
            h3 {
              transform: translateY(0);
              opacity: 1;
            }

            a {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }

      @include da-breakpoint(desktop-large) {
        gap: 35px;
      }
    }

    @include da-breakpoint(mobile) {
      & {
        a {
          width: rem(100px);
        }
      }
    }
  
    @include da-breakpoint(mobile-large) {
      & {
        a {
          width: rem(110px);
        }
      }
    }
  
    @include da-breakpoint(tablet) {
      & {
        a {
          width: rem(200px);
        }
      }
    }
  
    @include da-breakpoint(desktop) {
      & {
        gap: 2.1rem;
        height: rem(56px);
  
        .toggle {
          margin-left: 1.05rem;
  
          .dot {
            height: 4.5px;
            width: 4.5px;
  
            transition: transform 0.3s ease, background-color 0.7s ease;
  
            &::before, &::after {
              height: 4.5px;
              width: 4.5px;
  
              transition: background-color 0.7s ease;
            }
  
            &::before {
              transform: translateY(-8px);
            }
  
            &::after {
              transform: translateY(8px);
            }
          }
        }
        
        .toggle:hover {
          .dot {
            transform: scale(1.4);
          }
        }
  
        .dropdowns {
          display: flex;
        }
      }
    }

    @include da-breakpoint(desktop-large) {
      & {
        height: rem(60px);

        .dropdowns {
          margin-left: 1.75rem;
          gap: 35px;

          .dropdown {
            .dropdown-menu-wrapper {
              .dropdown-menu {
                margin-top: 18px;
              }
            }
          }
        }
      }
    }
  }
}
// Dario - fine -------------------------------------------------------------