@media only screen and (min-width: 200px) and (max-width: 250px) {
    .section-wrapper {
        background-color: rgb(240, 238, 238);
        box-shadow: 14px -5px 22px -20px inset #161616;
        padding-top: 3rem;


        .cards-wrapper {
            gap: 15px;
            margin: 1rem;

            .the-sims4-card p,
            .apex-card p,
            .batterfield-card p,
            .f1-22-card p,
            .apex-mobile-card p,
            .fifa23-card p {
                top: 50%;
                left: 25%;
                color: rgb(150, 147, 147);
                display: none;
                /* to active with js */
            }

        }

        h1 {

            font-size: 30px;
            color: #161616;
            line-height: 1.1;
            text-align: center;
        }

        .fifa23-card,
        .apex-mobile-card,
        .f1-22-card,
        .batterfield-card,
        .apex-card,
        .the-sims4-card {
            display: flex;
            justify-content: center;
            /*  max-height: 175px;
            max-width: 175px; */
            /* never over 175px */

            &:hover::after {
                background: none;
                opacity: 0;
            }
        }

        .fifa23-card {
            &:hover .fifa23-logo {
                transform: translateY(-40px);
                transform: none;
            }

        }

        .apex-mobile-card {
            &:hover .apex-mobile-logo {
                /* transform: translateY(-40px); */
                transform: none;
            }
        }

        .f1-22-card {
            &:hover .f1-22-logo {
                /* transform: translateY(-45px); */
                transform: none;
            }
        }

        .batterfield-card {
            &:hover .batterfield-logo {
                transform: none;
            }
        }

        .apex-card {
            &:hover .apex-logo {
                /*  transform: translateY(-40px); */
                transform: none;
            }
        }

        .the-sims4-card {
            &:hover .the-sims4-logo {
                transform: none;
            }
        }


        .fifa23-logo img {
            width: 70px;
            position: relative;
            left: -10%;
        }

        .apex-mobile-logo img {
            width: 40px;
        }

        .f1-22-logo img {
            width: 75px;
        }

        .batterfield-logo img {
            width: 75px;
        }

        .apex-logo {
            width: 55px;
        }

        .the-sims4-logo img {
            width: 75px;
        }

        .the-sims4-card .the-sims4-logo {
            top: 0px;
        }


        .btn-container {
            height: fit-content;
            margin: 0 0px 15px;


            a {
                text-decoration: none;
            }
        }

        .btn {
            padding: 0 40px;
            height: 50px;
            border: 2px solid black;
            font-size: 16px;
            font-weight: 100;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* three dots menu */
        .bi-three-dots {
            position: absolute;
            top: 0px;
            right: 10px;
            color: white;
            font-size: 24px;
            display: block;
            z-index: 2;
        }
    }
}


/* X show to active with js */
/* .bi-x{
            display: block;
            position: absolute;
            top: 0px;
            right: 10px;
            color: white;
            font-size: 34px;
        } */

@media only screen and (min-width: 251px) and (max-width: 300px) {

    .cards-wrapper {

        .fifa23-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .fifa23-logo {
                /*   transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }

        }

        .apex-mobile-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .apex-mobile-logo {
                /* transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .f1-22-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .f1-22-logo {
                /* transform: translateY(-45px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .batterfield-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .batterfield-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .apex-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .apex-logo {
                /*  transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .the-sims4-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .the-sims4-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .fifa23-logo img {
            width: 100px;
            position: relative;
            left: -15%;
        }

        .apex-mobile-logo img {
            width: 55px;
        }

        .f1-22-logo img {
            width: 100px;
        }

        .batterfield-logo img {
            width: 100px;
        }

        .apex-logo {
            width: 75px;
        }

        .the-sims4-logo img {
            width: 100px;
            position: relative;
            top: -40px;
            left: -5px;
        }

    }

    .bi-three-dots {
        position: absolute;
        top: 0px;
        right: 10px;
        color: white;
        font-size: 24px;
        display: block;
        z-index: 2;
    }

    .btn-container a {
        text-decoration: none;
    }

    .btn {
        border: 2px solid black;
        width: 215px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

}

@media only screen and (min-width: 301px) and (max-width: 360px) {

    .cards-wrapper{

        .fifa23-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .fifa23-logo {
                /*   transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }

        }

        .apex-mobile-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .apex-mobile-logo {
                /* transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .f1-22-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .f1-22-logo {
                /* transform: translateY(-45px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .batterfield-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .batterfield-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .apex-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .apex-logo {
                /*  transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .the-sims4-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .the-sims4-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .fifa23-logo img {
            width: 100px;
            position: relative;
            left: -8%;
        }

        .apex-mobile-logo img {
            width: 55px;
        }

        .f1-22-logo img {
            width: 100px;
        }

        .batterfield-logo img {
            width: 100px;
        }

        .apex-logo {
            width: 75px;
        }

        .the-sims4-logo img {
            width: 100px;
            position: relative;
            top: -40px;
            left: 5px;
        }
    }

    .bi-three-dots {
        position: absolute;
        top: 0px;
        right: 10px;
        color: white;
        font-size: 24px;
        display: block;
        z-index: 2;
    }

    .btn-container a {
        text-decoration: none;
    }

    .btn {
        border: 2px solid black;
        width: 265px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }


}

@media only screen and (min-width: 361px) and (max-width: 899px){

    .cards-wrapper{

        .fifa23-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .fifa23-logo {
                /*   transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }

        }

        .apex-mobile-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .apex-mobile-logo {
                /* transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .f1-22-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .f1-22-logo {
                /* transform: translateY(-45px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .batterfield-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .batterfield-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .apex-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .apex-logo {
                /*  transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .the-sims4-card {
            display: flex;

            &:hover::after {
                background: none;
                opacity: 0;
            }

            &:hover .the-sims4-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

    }

    .bi-three-dots {
        position: absolute;
        top: 0px;
        right: 10px;
        color: white;
        font-size: 24px;
        display: block;
        z-index: 2;
    }

    .btn-container a {
        text-decoration: none;
    }

    .btn {
        border: 2px solid black;
        width: 325px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .section-wrapper {
        box-shadow: 14px -5px 30px -20px inset #161616;
        padding-top: 2rem;

        h1 {
            font-size: 30px;
        }
    }


    .cards-wrapper {
        width: 90vw;

        .fifa23-card,
        .apex-mobile-card,
        .f1-22-card,
        .batterfield-card,
        .apex-card,
        .the-sims4-card {
            max-width: 320px;
            max-height: 320px;

            &:hover::after {
                background: none;
                opacity: 0;
            }
        }

        .fifa23-card {
            &:hover .fifa23-logo {
                /*   transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }

        }

        .apex-mobile-card {
            &:hover .apex-mobile-logo {
                /* transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .f1-22-card {
            &:hover .f1-22-logo {
                /* transform: translateY(-45px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .batterfield-card {
            &:hover .batterfield-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .apex-card {
            &:hover .apex-logo {
                /*  transform: translateY(-40px); */
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

        .the-sims4-card {
            &:hover .the-sims4-logo {
                transform: none;
            }

            &:hover p {
                display: none;
            }
        }

    }


    .btn-container a {
        text-decoration: none;
    }

    .btn {
        border: 2px solid black;
        width: 147px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .bi-three-dots {
        position: absolute;
        top: 0px;
        right: 10px;
        color: white;
        font-size: 24px;
        display: block;
        z-index: 2;
    }
}


@media only screen and (min-width: 1024px) {

    .cards-wrapper {
        width: 100vw;

        .fifa23-card,
        .apex-mobile-card,
        .f1-22-card,
        .batterfield-card,
        .apex-card,
        .the-sims4-card {
            max-width: 300px;
            max-height: 300px;

        }
    }


    .bi {
        display: none;
    }
}


@media only screen and (min-width: 1275px) {
    .cards-wrapper {
        width: 90vw;
    }
}

@media only screen and (min-width: 1417px) {
    .cards-wrapper {
        width: 80vw;
    }
}


@media only screen and (min-width: 1920px) {
    .cards-wrapper {
        width: 60vw;

        .fifa23-card,
        .apex-mobile-card,
        .f1-22-card,
        .batterfield-card,
        .apex-card,
        .the-sims4-card {
            max-width: 350px;
            max-height: 350px;
        }
    }

    .bi {
        display: none;
    }
}

/* Footer Giorgia (PLAY -GENITORI -SOCIAL)*/

@media only screen and (max-width:768px){


    .play{
        display: flex;
        position:absolute;
        flex-direction: column;
        padding: 32px 396px 32px 60px;
      
    }
    
    .scritta_play{
        display: flex;
        position:relative;
        color: white;
        width: 335px;
        height: 100px;
        font-size: 27px;
    }
    
    .blocco_genitori{
        display: flex;
        flex-direction: column;
        background-color:#6FB0D6;
        width: 100vw;
        height: 200px;
        justify-content: space-around;
        align-items: center ;
        padding: 32px 0px 16px 0px;
       
    }
    
    .genitori_gio{
        width: 600px;
        height: 70.22;
        color: black;
    }
    .blocco_link_gio{
        display: flex;
        flex-direction: column;
        background-color: #EAEAEA;
        width: 100vw;
        height: 300px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 12px 60px 40px 60px;
        
    
    }
    
    .linkf_gio{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 648px;
        height: 118px;
        padding-bottom: 10px;
    }
}
    
@media only screen and (max-width:425px){
    
    
    .play{
        display: flex;
        position:absolute;
        flex-direction: column;
        padding: 32px 31,920px 32px 31,920px; 
        /*non prende le misure giuste del padding, 
        Exenia anche non sa come mai*/
    }
        
    .scritta_play{
        display: flex;
        position:relative;
        color: white;
        width: 335px;
        height: 100px;
        font-size: 27px;
    }
        
    .blocco_genitori{
        display: flex;
        flex-direction: column;
        background-color:#6FB0D6;
        width: 100vw;
        height: 200px;
        justify-content: space-around;
        align-items: center ;
        padding: 32px 0px 16px 0px;      
    }
        
    .genitori_gio{
        width: 600px;
        height: 70.22;
        color: black;
    }
    .blocco_link_gio{
        display: flex;
        flex-direction: column;
        background-color: #EAEAEA;
        width: 100vw;
        height: 300px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 12px 60px 40px 60px;
    }
        
    .linkf_gio{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 648px;
        height: 118px;
        padding-bottom: 10px;
    }
}
        