// dario - inizio ---------------------------------------------------------------------------------------------------

//import fonts (file presents in assets)
@font-face {
  font-family: ElectronicArtsDisplay;
  src: url(../../../../assets/fonts/Electronic_Arts_Display.otf);
}

@font-face {
  font-family: ElectronicArtsText;
  src: url(../../../../assets/fonts/Electronic_Arts_Text.otf);
}

@font-face {
  font-family: open-sans;
  src: url(../../../../assets/fonts/OpenSans-VariableFont_wght.ttf);
}

// dario - fine ---------------------------------------------------------------------------------------------------