// Dario - inizio ------------------------------------------------------------------------------------------------

// 768px, 1024px, 1456px
$da-breakpoints: (
	mobile: 20.0625rem,
	mobile-large: 23.5rem,
	tablet: 48rem,
	desktop: 64rem,
	desktop-large: 91rem,
);

// Dario - fine ------------------------------------------------------------------------------------------------