// ULTIME NOVITA - Dario - inizio ------------------------------------
#ultime-novita {
  background-color: map-get($map: $da-color, $key: bg);
  overflow: hidden;


  #h3 {
    margin-bottom: 20px;
    margin-inline: auto;
  }

  #slider-container {
    align-self: flex-start;
    margin-bottom: 40px;
    margin-left: -16px;
  }

  #cards-container {
    margin-bottom: 40px;
  }

  .cta {
    margin-inline: auto;
  }

  @include da-breakpoint(tablet) {
    #slider-container {
      margin-bottom: 50px;
    }
  }

  @include da-breakpoint(desktop) {
    #slider-container {
      margin-bottom: 60px;
    }
  }
}
// ULTIME NOVITA - Dario - inizio ------------------------------------