// ULTIME NOVITA - Dario - inizio ------------------------------------
#ultime-novita {
  background-color: map-get($map: $color, $key: bg);

  .cta {
    margin-top: 2.5rem;
  }
}

#slider-container {
  align-self: flex-start;
}
// ULTIME NOVITA - Dario - inizio ------------------------------------