$colors: (
  dark: hsl(0, 0%, 9%),
  light-dark: lighten(hsl(0, 0%, 9%), 20),
  white: hsl(0, 0%, 100%),
  accent: hsl(0, 100%, 64%),
  bg: hsl(0, 0%, 95%),
  borders: hsl(0, 0%, 87%),
  shadow: hsla(0, 0%, 0%, 0.5),
);