$fs-h3: (
  desktop: 2.75rem,
  tablet: 2.5rem,
  mobile: 2rem,
);

$fs-h4: (
  desktop: 1.5rem,
  tablet: 1.5rem,
  mobile: 1.25rem,
);

$fs-h5: (
  desktop: 1rem,
  tablet: 0.875rem,
  mobile: 0.875rem,
);

$fs-p: (
  desktop: 1.25rem,
  tablet: 1.125rem,
  mobile: 1rem,
);

$fs-tabs: (
  desktop: 1.25rem,
  tablet: 1.125rem,
  mobile: 1rem,
);

$fs-cta: (
  desktop: 1rem,
  tablet: 1rem,
  mobile: 1rem,
)