// Dario - inizio -------------------------------------------------------------------------------------------------------------

// SLIDER LAYOUT - TO USE WITH 'SLIDER'S TABS' COMPONENT - ref: homepage 'ultime notizie' ----------------------

// .slider-container#slider-container {
//    .arrow-container.arrow-container-left {.......}
//    ul.list {
//        li.slider-tab-container {
//            a.slider-tab {.......}
//        }
//    }
//    .arrow-container.arrow-container-right {.......}
//    .border-bottom

.section-container {
    position: relative;
  
    .slider-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      // arrows
      .arrow-container {
        height: 50px;
        position: absolute;
        z-index: 1;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        &::before, &::after {
          content: '';
          display: inline-block;
          height: 3px;
          width: 15px;
          border-radius: 3px;
          background-color: map-get($map: $da-color, $key: borders-dark);
  
          position: absolute;
        }
  
        @include da-breakpoint(tablet) {
          height: 60px;
        }
      }
      
      .arrow-container-left {
        left: 0;
        padding-inline: 20px 40px;
        background: linear-gradient(90deg, rgba(242,242,242,1) 70%, rgba(242,242,242,0.5) 85%, rgba(0,212,255,0) 100%);
        
        &::before {
          transform: rotate(48.5deg);
          margin-top: 9.5px;
        }
        
        &::after {
          transform: rotate(-48.5deg);
          margin-top: -9.5px;
        }
      }
      
      .arrow-container-right {
        right: 0;
        padding-inline: 40px 20px;
        background: linear-gradient(90deg, rgba(0,212,255,0) 0%, rgba(242,242,242,0.5) 15%, rgba(242,242,242,1) 30%);
  
        &::before {
          transform: rotate(-48.5deg);
          margin-top: 9.5px;
        }
        
        &::after {
          transform: rotate(48.5deg);
          margin-top: -9.5px;
        }
      }
  
      @media(min-width: 56.6875rem) {
        .arrow-container {
          display: none;
        }
      }
  
      // slider's tabs
      ul {
        display: flex;
    
        li {
          flex: 0 0 auto;
          list-style: none;
    
          a {
            
          }
        }
      }
    
      // horizontal bottom line
      .border-bottom {
        align-self: flex-end;
  
        position: absolute;
        width: 100%;
        height: 2px;
        margin-top: -2px;
        left: 0;
        background-color: map-get($map: $da-color, $key: borders);
        z-index: 2;
      }
    }
  }
  // SLIDER LAYOUT - END ---------------------------------------------------------
  
  // Dario - fine --------------------------------------------------------------------------------------------------------------------