// SLIDER LAYOUT - to use with 'slider's tabs' component --------------------------
.section-container {
  position: relative;

  .slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // arrows
    .arrow {
      position: absolute;
      margin-inline: 1rem;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background-color: map-get($map: $color, $key: borders-dark);
      }
    }

    .arrow-left {
      left: 0;

      &::before {
        transform: translateY(150%) rotate(50deg);
      }

      &::after {
        transform: translateY(-150%) rotate(-50deg);
      }
    }
    
    .arrow-right {
      right: 0;

      &::before {
        transform: translateY(150%) rotate(-50deg);
      }

      &::after {
        transform: translateY(-150%) rotate(50deg);
      }
    }

    // slider's tabs
    ul {
      display: flex;
  
      li {
        flex: 0 0 auto;
        
        list-style: none;
  
        a {
          
        }
      }
    }
  
    // horizontal bottom line
    .border-bottom {
      align-self: flex-end;

      position: absolute;
      width: 100%;
      height: 2px;
      margin-top: -2px;
      left: 0;
      background-color: map-get($map: $color, $key: borders);
    }
  }
}
// SLIDER LAYOUT - END ---------------------------------------------------------