// SLIDER'S TABS - to use with 'sliders' layout --------------------------
.slider-tab-container {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s ease;

  &:hover {
    background-color: map-get($map: $da-color, $key: active);
  }

  .slider-tab {
    padding-inline: 1rem;
  }
}

// slider-tab's left border
.slider-tab-container + .slider-tab-container .slider-tab {
  border-left: 1px solid map-get($map: $da-color, $key: borders);
}

// slider-tab's right border
@for $counter from 1 to 8 {
  .slider-tab-container:nth-child(#{$counter}) .slider-tab {
  border-right: 1px solid map-get($map: $da-color, $key: borders);
  }
}

// active tab styling
.slider-tab-container.active {
  background-color: map-get($map: $da-color, $key: active);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 80%;
    height: 2px;
    background-color: map-get($map: $da-color, $key: accent);
  }

  .slider-tab {
    color: map-get($map: $da-color, $key: text-dark);
  }
}

// responsivity
@include da-breakpoint(tablet) {
  .slider-tab-container {
    height: 60px;
  }
}
// SLIDER'S TABS - END -----------------------------------------------------