// Daniele - inizio -------------------------------------------------------------------------------
@mixin flex ($display, $justify, $align) {
  display:$display;
  justify-content:$justify;
  align-items:$align;
}

@mixin size ($height, $width) {
  height:$height;
  width:$width;
}
@mixin color ($color, $background){
  color:$color;
  background-color:$background;
}
@mixin space ($margin, $gap) {
  margin:$margin;
  gap:$gap;
}
@mixin font ($font-style, $font-size) {
  font-style:$font-style;
  font-size:$font-size;
}
// Daniele - fine -------------------------------------------------------------------------------