@use "sass:math";

// ABSTRACTS --------------------------------------------------------------------------------------------
@import "../abstract/variables";
@import "../abstract/variables/font-sizes";
@import "../abstract/variables/font-families";
@import "../abstract/variables/breakpoints";
@import "../abstract/variables/colors";

@import "../abstract/function";

@import "../abstract/mixin";
@import "../abstract/mixins/breakpoints";

// BASE --------------------------------------------------------------------------------------------
@import "../tipography/font-face";
@import "./reset";
@import "../tipography/tipography";

// COMPONENTS --------------------------------------------------------------------------------------------
@import "../components/buttons";
@import "../components/cards";
@import "../components/menu";
@import "../components/navbar";
@import "../components/sidebar";
@import "../components/tabs";

// LAYOUTS --------------------------------------------------------------------------------------------
@import "../layout/headers";
@import "../layout/footers";
@import "../layout/grid";
@import "../layout/page-sections";
@import "../layout/sliders";

// PAGES --------------------------------------------------------------------------------------------
@import "../pages/home";


/*@import "typography/fonts";
@import "mixin-provvisory";
@import "variables-provvisory";


// reset
@import "typography/fonts";
@import "mixin-provvisory";
@import "variables-provvisory";*/


// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.sub-menu-altreesperienze, .sub-menu-informazioni, .sub-menu-impegni, .sub-menu-risorse {

    display:none;
}


.flexnav {
    @include size (70vh, 100%);
    @include flex (flex, flex-start, center);
    flex-flow:column;

    .blackline {
        background-color:$nav-col;
        display:flex;
        @include size(5vh, 100%);
    }

    .nav {
        display:flex;
        @include size (5vh, 100%);
        

            .logo {
                @include flex (flex, flex-start, center);
                flex:15%;
                 }
            .navlist {
                @include flex (flex, flex-start, center);
                flex:85%;
               
                ul {@include flex (flex, flex-start, center);
                    @include size (2rem, 100%);
                    @include space (1rem, 1.5rem);
                    list-style:none;

                     li {
                        
                        
                            a { 
                                font-size:large;
                                color:black;
                                text-decoration:none;
                                }
                           
                                    } 
                                        }
                                            }
                                            a:hover {color:white;
                                                    transition:1s;}
    }
   
    .img {
        display:flex;
        position:relative;
        @include size (60vh, 100%);
        

            button {
                        @include flex (flex, center, center);
                        @include size (3.5rem, 8rem);
                        border-radius:0.5rem;
                        top:280px;
                        left:240px;
                        position:absolute;
                        background-color:white;
                        color:black;
            }
            .imgphrase {
                        position:absolute;
                        color:white;
                        top:200px;
                        left:100px;
                        @include font (Helvetica, x-large);
            }
            .imgphrase2 {
                position:absolute;
                color:white;
                top:240px;
                left:250px;
                @include font (Helvetica, x-large);
    }
    .imgEAplay {
        position:absolute;
        color:white;
        top:0;
        
        bottom:300px;
        left:120px;
        
}
         
    }
}


/* -------------------------------------Reponsivity--------------------------------- */
@import "../responsivity/media";

@if (min-width:940px, max-width:1200px) {
        .navlist {display:none;}
}