@use "sass:math";

// ABSTRACTS --------------------------------------------------------------------------------------------
@import "../abstract/variables";
@import "../abstract/variables/font-sizes";
@import "../abstract/variables/font-families";
@import "../abstract/variables/breakpoints";
@import "../abstract/variables/colors";

@import "../abstract/function";

@import "../abstract/mixin";
@import "../abstract/mixins/breakpoints";

// BASE --------------------------------------------------------------------------------------------
@import "../tipography/font-face";
@import "./reset";
@import "../tipography/tipography";

// COMPONENTS --------------------------------------------------------------------------------------------
@import "../components/buttons";
@import "../components/cards";
@import "../components/menu";
@import "../components/navbar";
@import "../components/sidebar";
@import "../components/tabs";

// LAYOUTS --------------------------------------------------------------------------------------------
@import "../layout/headers";
@import "../layout/footers";
@import "../layout/grid";
@import "../layout/page-sections";
@import "../layout/sliders";

// PAGES --------------------------------------------------------------------------------------------
@import "../pages/home";


/*@import "typography/fonts";
@import "mixin-provvisory";
@import "variables-provvisory";


// reset
@import "typography/fonts";
@import "mixin-provvisory";
@import "variables-provvisory";*/


// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    margin: 1.2rem;
}

/* End Giochi in evidenza style */

.sub-menu-altreesperienze, .sub-menu-informazioni, .sub-menu-impegni, .sub-menu-risorse {

    display:none;
}




.blocco_bgplay {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
}

.bg_play{
    width: 100vw;
    height: 410px;
}

.play{
    display: flex;
    position:absolute;
    flex-direction: column;
   padding: 130px 0px 0px 410px;

.flexnav {
    @include size (90vh, 100%);
    @include flex (flex, flex-start, center);
    flex-flow:column;

    .blackline {
        background-color:$nav-col;
        display:flex;
        @include size(5vh, 100%);
    }

    .nav {
        display:flex;
        @include size (5vh, 100%);
        

            .logo {
                @include flex (flex, flex-start, center);
                flex:15%;
                 }
            .navlist {
                @include flex (flex, flex-start, center);
                flex:85%;
               
                ul {@include flex (flex, flex-start, center);
                    @include size (2rem, 100%);
                    @include space (1rem, 1.5rem);
                    list-style:none;

                     li {
                        
                        
                            a { 
                                font-size:large;
                                color:black;
                                text-decoration:none;
                                }
                           
                                    } 
                                        }
                                            }
                                            a:hover {color:white;
                                                    transition:1s;}
    }
   
    .img {
        display:flex;
        
        background-image: url(/EASports-Project/assets/mainimgEA.jpg);
        @include size (80vh, 100%);
        
   
      
    .textposition {
                @include flex(flex, flex-end, center);
                @include font (Helvetica, x-large);
                @include size (65vh, 65%);
                gap:1rem;
                color:white;
                flex-flow:column;
               

                button {
                    @include flex (flex, center, flex-end);
                    @include size (3.5rem, 10rem);
                    border-radius:0.5rem;
                    background-color:white;
                    color:black;
                    cursor:pointer;
                    
            }
            
        }
         
    }
    .mainimgmobile {
                    display:flex;
                    flex-flow:column;
                    display:none;
                    gap:1rem;
                    background-image:url(/EASports-Project/assets/images/mainimgMobile.jpg);
                    @include size(60vh, 100%);

                    button {
                        @include flex (flex, center, flex-end);
                        @include size (1.5rem, 6rem);
                        border-radius:0.5rem;
                        background-color:white;
                        color:black;
                        cursor:pointer;
                        
                }}

.linkf_gio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 884px;
    height: 81px;
}

.link_gio {
    text-decoration: none;
    color: black;
    margin: 8px 48px 5px 0px;
}

.link_gio:hover {
    text-decoration: none;
    color: orangered;
}

.blocco_social {
    display: flex;
    flex-direction: column;
}

.social_logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 13px;
}

.blocco_loghi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.facebooklogo {
    width: 22px;
    height: 22px;
}

.facebooklogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.twitterlogo {
    width: 22px;
    height: 22px;
}

.twitterlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.youtubelogo {
    width: 22px;
    height: 22px;
}

.youtubelogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.instagramlogo {
    width: 22px;
    height: 22px;
}

.instagramlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.twitchlogo {
    width: 22px;
    height: 22px;
}

.twitchlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

/* -------------------------------------Reponsivity--------------------------------- */
@import "../responsivity/media";