@use "sass:math";

// ABSTRACTS --------------------------------------------------------------------------------------------
@import "../abstract/variables";
@import "../abstract/variables/font-sizes";
@import "../abstract/variables/font-families";
@import "../abstract/variables/breakpoints";
@import "../abstract/variables/colors";

@import "../abstract/function";

@import "../abstract/mixin";
@import "../abstract/mixins/breakpoints";

// BASE --------------------------------------------------------------------------------------------
@import "../tipography/font-face";
@import "./reset";
@import "../tipography/tipography";

// COMPONENTS --------------------------------------------------------------------------------------------
@import "../components/buttons";
@import "../components/cards";
@import "../components/menu";
@import "../components/navbar";
@import "../components/sidebar";

// LAYOUTS --------------------------------------------------------------------------------------------
@import "../layout/headers";
@import "../layout/footers";



.flexnav {
    display: flex;
    flex-flow: column;
    height: 30vh;
    width: 30vw;

    .blackline {
        display: flex;
        flex: 1;
        background-color: black;
    }

    .nav {
        display: flex;
        flex: 1;
        background-color: rgb(235, 219, 219);

        ul {
            display: flex;
            flex: 1;

            li {
                display: flex;
                flex-basis: 100%;
                justify-content: flex-start;
                gap: 1rem;

                a {
                    color: black;
                }
            }
        }
    }
}


/* Giochi in evidenza style */
.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi {
    display: none;
}






/* -------------------------------------Reponsivity--------------------------------- */
@import "../responsivity/media";
