//import fonts (file presents in assets)

@font-face {
  font-family: ElectronicArtsDisplay;
  src: url(../../assets/fonts/Electronic_Arts_Display.otf);
}

@font-face {
  font-family: ElectronicArtsText;
  src: url(../../assets/fonts/Electronic_Arts_Text.otf);
}



.container_tot {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.container_gio {
  display: flex;
  position: relative;
  height: 410px;
  width: 100vw;
}

.blocco_bgplay {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
}

.bg_play {
  width: 100vw;
  height: 410px;
}

.play {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 130px 0px 0px 410px;
  /* @media only screen and (max-width:425px) {
    display: flex;
    position:absolute;
    flex-direction: column;
    padding: 0px;
   } */
}

.scritta_play {
  display: flex;
  position: relative;
  color: white;
  width: 544px;
  height: 54px;
  font-size: 27px;
}

.h6_play {
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}

.img_play {
  width: 240px;
  height: 101px;
}

.bottone_play {
  width: 150px;
  height: 60px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottone_play:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 70px;
}

.iscriviti_subito {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.container2_gio {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.blocco_genitori {
  display: flex;
  flex-direction: row;
  background-color: #6FB0D6;
  width: 100vw;
  height: 112px;
  justify-content: space-around;
  align-items: center;
}

.genitori_gio {
  width: 500px;
  height: 70.22;
  color: black;
}

.bottone_genitori {
  width: 150px;
  height: 60px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottone_genitori:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 70px;
}

.scopridipiu {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.blocco_link_gio {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  width: 100vw;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.linkf_gio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 884px;
  height: 81px;
}

.link_gio {
  text-decoration: none;
  color: black;
  margin: 8px 48px 5px 0px;
}

.link_gio:hover {
  text-decoration: none;
  color: orangered;
}

.blocco_social {
  display: flex;
  flex-direction: column;
}

.social_logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 13px;
}

.blocco_loghi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.facebooklogo {
  width: 22px;
  height: 22px;
}

.facebooklogo:hover {
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
}

.twitterlogo {
  width: 22px;
  height: 22px;
}

.twitterlogo:hover {
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
}

.youtubelogo {
  width: 22px;
  height: 22px;
}

.youtubelogo:hover {
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
}

.instagramlogo {
  width: 22px;
  height: 22px;
}

.instagramlogo:hover {
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
}

.twitchlogo {
  width: 22px;
  height: 22px;
}

.twitchlogo:hover {
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 768px) {
  .play {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 32px 396px 32px 60px;
  }
  .scritta_play {
    display: flex;
    position: relative;
    color: white;
    width: 335px;
    height: 100px;
    font-size: 27px;
  }
  .blocco_genitori {
    display: flex;
    flex-direction: column;
    background-color: #6FB0D6;
    width: 100vw;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0px 16px 0px;
  }
  .genitori_gio {
    width: 600px;
    height: 70.22;
    color: black;
  }
  .blocco_link_gio {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    width: 100vw;
    height: 300px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 60px 40px 60px;
  }
  .linkf_gio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 648px;
    height: 118px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .play {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0px;
  }
  .scritta_play {
    display: flex;
    position: relative;
    color: white;
    width: 335px;
    height: 100px;
    font-size: 27px;
  }
  .blocco_genitori {
    display: flex;
    flex-direction: column;
    background-color: #6FB0D6;
    width: 100vw;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0px 16px 0px;
  }
  .genitori_gio {
    width: 600px;
    height: 70.22;
    color: black;
  }
  .blocco_link_gio {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    width: 100vw;
    height: 300px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 60px 40px 60px;
  }
  .linkf_gio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 648px;
    height: 118px;
    padding-bottom: 10px;
  }
}


/*# sourceMappingURL=style.css.map */
