//Giochi in evidenza

.section-wrapper{
    h1 {
        font-family: ElectronicArtsDisplay, Verdana, Helvetica, Arial, sans-serif;
        font-weight: 900;
        font-size: $h1;
        color: $font-color;
        line-height: 1.5;
    }
}