@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';


   /*INIZO NAVBAR*/ 

   /*FINE NAVBAR*/ 

   /*INIZIO CARD*/ 
    
.titolo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transformimg{
    display: flex;
    position: absolute
}
.img_card{
    width: 357px;
    height: 200px;
   margin-left: 30px;
   margin-right: 30px;

   &:hover{
    
   }
     
  
}



.subtitle{
    display: flex;
    position: absolute;
    top: 70px;
    left: 40px;
    color: white;
    
   }

.arrow{
    display: flex;
    position: absolute;
    top: 130px;
    left: 40px;
    

    &:hover{
    
    width: 42px;
    height: 42px;
    transition: 1s;

    }
}
.transformimg2{
    display: flex;
    position: relative;
}


   /*FINE CARD*/ 