@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';


   /*INIZO NAVBAR*/ 

   /*FINE NAVBAR*/ 

   /*INIZIO CARD*/ 
    
.titolo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transformimg{
    display: flex;
    position: absolute
}
.img_card{
    width: 357px;
    height: 200px;
  margin-left: 30px;
   margin-right: 30px;
}



.subtitle{
    display: flex;
    position: absolute;
    top: 70px;
    left: 40px;
    color: white;
    
   }

.arrow{
    display: flex;
    position: absolute;
    top: 130px;
    left: 40px;
    

    &:hover{
    
    width: 42px;
    height: 42px;
    transition: 1s;

    }
}
.transformimg2{
    display: flex;
    position: relative;
}

.card_gio:hover{
   
}

@media screen and (max-width: 576px){
    .img_card{
        display: none;  
      
    }

    .transformimg{
        display: flex;
        position: relative;
        background-color:#262629;
        width: 489px;
        height: 110px;;
    }
    .transformimg2{
        display: flex;
        position: relative;
        background-color:#262629;
        width: 489px;
        height: 110px;;
    }
    .subtitle{
        display: flex;
        position: absolute;
        top: 40px;
        left: 150px;
        color: white;
    
        
       }
}

/*FINE CARD*/ 

/*INIZIO PIATTAFORME*/ 
.container2{
    margin-top:100px;
}

.transformimg3{
    display: flex;
    position: absolute;
    
}


.platforms{
    background-color: #36404A;
    width: 100vw;
    height: 1600px;
    padding-right: 60px;
    padding-left: 150px;
    
}

.piattaforme{
    height: 200px;
    width: 300px;
    padding-top: 100px;
    padding-left: 620px;
}
.piattaforma_title{
    color: white;
    display: flex;
    justify-content: center;
    

}

.plt_img{
    width: 357px;
    height: 138px;
}

#plt_gio{
    width: 360px;
    height: 140px;
    margin-left: 30px;
    margin-right: 30px;
}

.subtitle_plt{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:100px;
    
}

.psp_portatile{
    color: white;
    display: flex;
    position:absolute;
    top:180px;
    left:40px;
}


.subtitle_plt1{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:130px;
    
}

.subtitle_plt2{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:135px;
    
}

.subtitle_plt3{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:140px;
    
}


.subtitle_plt4{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:80px;
    
}

.subtitle_plt5{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:140px;
    
}

.subtitle_plt6{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:145px;
    
}

.subtitle_plt7{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:130px;
    
}

.subtitle_plt8{
    color: white;
    display: flex;
    position:absolute;
    top:150px;
    left:140px;
    
}

@media screen and (max-width: 912px){
    .platforms{
        background-color: #36404A;
        width: 100vw;
        height: 1800px;
        padding-right: 0px;
        padding-left: 0px;
        
    }
    
    .piattaforme{
        height: 200px;
        width: 300px;
        padding-top: 100px;
        padding-left: 400px;
    }
}

@media screen and (max-width: 776px){
    .platforms{
        background-color: #36404A;
        width: 100vw;
        height: 3200px;
        padding-right: 0px;
        padding-left: 0px;
        
    }
    
    .piattaforme{
        height: 200px;
        width: 300px;
        padding-top: 100px;
        padding-left: 100px;
    }
    #plt_gio{
        width: 360px;
        height: 140px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
}
/*FINE PIATTAFORME*/ 