// ULTIME NOVITA - Dario - inizio ------------------------------------
#ultime-novita {
  background-color: map-get($map: $da-color, $key: bg);
  overflow: hidden;

  &:last-of-type {
    padding-top: 40px;
    
    @include da-breakpoint(tablet) {
    padding-top: 50px;
    }
    
    @include da-breakpoint(desktop) {
    padding-top: 60px;
    }
    
    @include da-breakpoint(desktop-large) {
    padding-top: 68px;
    }
  }


  #h3 {
    margin-bottom: 20px;
    margin-inline: auto;
  }

  #slider-container {
    align-self: flex-start;
  }

  .cards-container-1,
  .cards-container-2,
  .cards-container-3,
  .cards-container-4,
  .cards-container-5,
  .cards-container-6,
  .cards-container-7,
  .cards-container-8 {
    margin-bottom: 40px;
    display: none;
  }

  .cards-container-active {
    display: grid;
  }

  .cta {
    margin-inline: auto;
  }

  @include da-breakpoint(tablet) {
    #slider-container {
      margin-bottom: 50px;
    }
  }
  
  @include da-breakpoint(desktop) {
    #slider-container {
      margin-bottom: 60px;
    }
  }
}
// ULTIME NOVITA - Dario - inizio ------------------------------------