@use 'sass:math';

// ABSTRACTS -----------------------------------------------------
@import '../../atomic-design/1-abstracts/variables/font-families/font-families-dario';
@import '../../atomic-design/1-abstracts/variables/font-sizes/font-sizes-dario';
@import '../../atomic-design/1-abstracts/variables/breakpoints/breakpoints-dario';
@import '../../atomic-design/1-abstracts/variables/colors/colors-dario';
@import '../../atomic-design/1-abstracts/variables/breakpoints/breakpoints-josephine';

@import '../../atomic-design/1-abstracts/functions/units/units-giuseppe';

@import '../../atomic-design/1-abstracts/mixins/flexbox/flexbox-1-dario';
@import '../../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-dario';
@import '../../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-josephine';

/* ---------------------------------------------------------------*/
/* BASE -------------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* FONT-FACES ----------------------------------------------------*/
@import '../../atomic-design/2-base/font-faces/font-faces-dario';

/* RESET ---------------------------------------------------------*/
@import '../../atomic-design/2-base/resets/reset-dario';

/* TYPOGRAPHY ---------------------------------------------------------*/
@import '../../atomic-design/2-base/typography/games/coming-soon';

/* ---------------------------------------------------------------*/
/* COMPONENTS -------------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* buttons -------------------------------------------------------*/
@import '../../atomic-design/3-components/buttons/button-1-dario';

/* cards -------------------------------------------------------*/
@import '../../atomic-design/3-components/cards/cards-2-dario';

/* slider tabs -------------------------------------------------------*/
@import '../../atomic-design/3-components/tabs/tabs-1-dario';

/* ---------------------------------------------------------------*/
/* LAYOUTS -------------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* navbar -------------------------*/
@import '../../atomic-design/4-layouts/navbars/navbar-1-dario';

/* hero section -------------------------*/
@import '../../atomic-design/4-layouts/heroes/hero-1-dario';

/* slider -------------------------------------------------------*/
@import '../../atomic-design/4-layouts/sliders/slider-2-dario';

/* section 'prossimamente' ------------------------------*/
/* section positioning -------------------------*/
@import '../../atomic-design/4-layouts/page-sections/page-section-2-dario';
/* grid container -------------------------*/
@import '../../atomic-design/4-layouts/grids/6-items-2-dario';

/* footer -------------------------*/
@import '../../atomic-design/4-layouts/footers/footer-1-josephine';

/* ---------------------------------------------------------------*/
/* PAGES -------------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* coming soon -------------------------*/
@import '../../atomic-design/6-pages/games/coming-soon';


aside {
  position: fixed;
  top: rem(40px);
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: rem(375px);
  background-color: map-get($map: $da-color, $key: white);
  cursor: pointer;

  transform: translateX(-100%);
  transition: transform 0.45s ease-in-out;

  @media (min-width: 321px) {
    width: 86.5%;
  }

  .heading {
    background-color: map-get($map: $da-color, $key: borders);
    @include flexbox($justify-content: space-between);
    height: rem(53px);
    padding-inline: rem(14px);

    a {
      width: rem(200px);
    }

    .close-btn {
      height: rem(34px);
      width: rem(34px);
      border: 1px solid map-get($map: $da-color, $key: dark);
      border-radius: 50%;

      @include flexbox;

      svg {
        width: 50%;
        height: 50%;
      }
    }
  }

  .dropdowns {
    height: calc(100vh - 40px - 53px);
    margin-inline: rem(28px);

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    @include da-breakpoint(tablet) {
      margin-inline: rem(18px);
    }

    .dropdown {

      .dropdown-btn {
        padding-block: rem(13px) rem(12px);
        border-bottom: 1px solid map-get($map: $da-color, $key: dark);

        transition: border-bottom-color 0.38s ease-in-out;

        @include flexbox($justify-content: space-between);

        .arrow-container {
          margin-right: 17px;
          width: 16px;
          height: 8px;
          position: relative;

          @include flexbox;

          &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            width: 65%;
            height: 2px;
            background-color: map-get($map: $da-color, $key: dark) !important;

            transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          }

          &::before {
            right: 6px;
            transform: rotate(42.5deg);
          }

          &::after {
            left: 6px;
            transform: rotate(-42.5deg);
          }
        }
      }

      .dropdown-btn:hover {
        p {
          color: map-get($map: $da-color, $key: accent);
        }

        .arrow-container {
          &::before, &::after {
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
        }
      }

      .dropdown-menu {
        overflow-y: hidden;
        height: 0;
        opacity: 0;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);

        transition: all 0.38s ease-in-out;


        .choice {
          padding-block: rem(15px) rem(14px);
          padding-inline: rem(14px) rem(20px);

          @include flexbox($justify-content: space-between);

          a {
            color: rgb(163, 163, 163);
          }

          .plus-container {
            position: relative;
            width: 10px;
            height: 10px;
            @include flexbox;

            transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

            &::before, &::after {
              content: '';
              position: absolute;
              display: block;
              height: 2px;
              width: 100%;
              background-color: rgb(163, 163, 163);
            }

            &::after {
              transform: rotate(90deg);
            }
          }

          &.class-type1 {
            border-bottom: 1px solid rgb(163, 163, 163);

            &:last-child {
              border-bottom: none;
            }
          }
        }

        .choice:hover {
          a {
            color: map-get($map: $da-color, $key: accent);
          }

          .plus-container {
            &::before, &::after {
              background-color: map-get($map: $da-color, $key: accent);
            }
          }
        }

        .sub-dropdown {
          border-bottom: 1px solid rgb(163, 163, 163);
          transition: border-bottom-color 0.4s ease-in-out;

          .sub-dropdown-menu {
            padding-inline: rem(38px);
            overflow-y: hidden;
            height: 0;
            opacity: 0;

            transition: all 0.4s ease-in-out;

            a {
              display: block;
              margin-block: 7px 13px;
              color: rgb(37, 37, 37);

              &:last-child {
                margin-bottom: 20px;
              }
            }

            a.active, a:hover {
              color: map-get($map: $da-color, $key: accent);
            }
          }
        }

        .sub-dropdown:last-child {
          border-bottom: none;
        }
      }
    }

    .dropdown.giochi-open {
      .dropdown-btn {
        border-bottom-color: map-get($map: $da-color, $key: accent);

        p {
          color: map-get($map: $da-color, $key: accent);
        }

        .arrow-container {
          &::before {
            transform: rotate(-42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
          
          &::after {
            transform: rotate(42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
        }
      }

      .dropdown-menu {
        height: 107px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;
      }
    }
    
    .dropdown.giochi-open.esplora-giochi-open {
      .dropdown-menu {
        height: 344px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;

        .sub-dropdown.sub-dropdown-menu-open {
          border-bottom-color: map-get($map: $da-color, $key: dark);

          .sub-dropdown-btn {
            a {
              color: map-get($map: $da-color, $key: dark);
            }

            .plus-container {
              rotate: 45deg;

              &::before, &::after {
                background-color: map-get($map: $da-color, $key: dark);
              }
            }
          }

          .sub-dropdown-btn:hover {
            a {
              color: map-get($map: $da-color, $key: accent);
            }

            .plus-container {
              rotate: 45deg;

              &::before, &::after {
                background-color: map-get($map: $da-color, $key: accent);
              }
            }
          }
          
          .sub-dropdown-menu {
            height: 236px;
            opacity: 1;

            transition: height 0.4s ease-in-out;
          }
        }
      }
    }

    .dropdown.giochi-open.piattaforme-open {
      .dropdown-menu {
        height: 307px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;

        .sub-dropdown.sub-dropdown-menu-open {
          border-bottom-color: map-get($map: $da-color, $key: dark);

          .sub-dropdown-btn {
            a {
              color: map-get($map: $da-color, $key: dark);
            }

            .plus-container {
              rotate: 45deg;

              &::before, &::after {
                background-color: map-get($map: $da-color, $key: dark);
              }
            }
          }

          .sub-dropdown-btn:hover {
            a {
              color: map-get($map: $da-color, $key: accent);
            }

            .plus-container {
              rotate: 45deg;

              &::before, &::after {
                background-color: map-get($map: $da-color, $key: accent);
              }
            }
          }
          
          .sub-dropdown-menu {
            height: 199px;
            opacity: 1;

            transition: height 0.4s ease-in-out;
          }
        }
      }
    }

    .dropdown.giochi-open.esplora-giochi-open.piattaforme-open {
      .dropdown-menu {
        height: 543px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;

        .sub-dropdown.sub-dropdown-menu-open {
          border-bottom-color: map-get($map: $da-color, $key: dark);

          .sub-dropdown-btn {
            a {
              color: map-get($map: $da-color, $key: dark);
            }

            .plus-container {
              rotate: 45deg;

              &::before, &::after {
                background-color: map-get($map: $da-color, $key: dark);
              }
            }
          }

          .sub-dropdown-btn:hover {
            a {
              color: map-get($map: $da-color, $key: accent);
            }

            .plus-container {
              rotate: 45deg;

              &::before, &::after {
                background-color: map-get($map: $da-color, $key: accent);
              }
            }
          }
          
          .sub-dropdown-menu {
            transition: all 0.4s ease-in-out;
          }

          .sub-dropdown-menu-1 {
            height: 236px;
          }

          .sub-dropdown-menu-2 {
            height: 199px;
          }
        }
      }
    }
    
    .dropdown.altre-esperienze-open {
      .dropdown-btn {
        border-bottom-color: map-get($map: $da-color, $key: accent);

        p {
          color: map-get($map: $da-color, $key: accent);
        }

        .arrow-container {
          &::before {
            transform: rotate(-42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
          
          &::after {
            transform: rotate(42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
        }
      }

      .dropdown-menu {
        height: 216px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;
      }
    }

    .dropdown.informazioni-open {
      .dropdown-btn {
        border-bottom-color: map-get($map: $da-color, $key: accent);

        p {
          color: map-get($map: $da-color, $key: accent);
        }

        .arrow-container {
          &::before {
            transform: rotate(-42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
          
          &::after {
            transform: rotate(42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
        }
      }

      .dropdown-menu {
        height: 378px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;
      }
    }

    .dropdown.impegni-open {
      .dropdown-btn {
        border-bottom-color: map-get($map: $da-color, $key: accent);

        p {
          color: map-get($map: $da-color, $key: accent);
        }

        .arrow-container {
          &::before {
            transform: rotate(-42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
          
          &::after {
            transform: rotate(42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
        }
      }

      .dropdown-menu {
        height: 270px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;
      }
    }

    .dropdown.risorse-open {
      .dropdown-btn {
        border-bottom-color: map-get($map: $da-color, $key: accent);

        p {
          color: map-get($map: $da-color, $key: accent);
        }

        .arrow-container {
          &::before {
            transform: rotate(-42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
          
          &::after {
            transform: rotate(42.5deg);
            background-color: map-get($map: $da-color, $key: accent) !important;
          }
        }
      }

      .dropdown-menu {
        height: 378px;
        border-bottom: 1px solid map-get($map: $da-color, $key: accent);
        opacity: 1;

        transition: height 0.38s ease-in-out;
      }
    }
  }
}

aside.active {
  transform: translateX(0);
}