//Header //
@use "sass:color";
@import "../../atomic-design/2-base/resets/reset-dario";
@import "../../atomic-design/1-abstracts/variables/colors/colors-Ultimi-giochi";

form {

    .black-block {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        padding: 5px 0;
        background-color: black;
    }

    .bi {
        font-size: 23px;
        height: 30px;
        font-weight: bolder;
        cursor: pointer;
        color: $header-icon;
        transition: color .05s ease;

        &:hover {
            color: $header-icon-hover;
        }
    }

    svg {
        height: 17px;
        fill: $header-icon;
        cursor: pointer;
        transition: fill .05s ease;

        &:hover {
            fill: $header-icon-hover;
        }
    }

    .ea-logo {
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(99%) contrast(92%);
        width: 41px;
        height: 21px;
        margin-right: 25px;
        cursor: pointer;
        transition: filter .05s ease;

        &:hover {
            filter: invert(25%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(99%) contrast(92%);
        }
    }
}



.lower-header {
    display: flex;
    align-items: center;
    gap: 30px;

    .three-dots-container{
        height: auto;
        transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.39);
        }
    }

    .bi-three-dots-vertical {
        color: black;
        font-size: 25px;
        position: relative;
        top: 3px;
        transition: all .2s ease-in-out;

        &:hover {
            color: red;

        }
    }

    .container-nav-menu{
        display: flex;
    }

    .ea-dropdown {
        cursor: pointer;
        transition: all 200ms ease;
        gap: 3px;
        display: flex;

        &:hover {
            color: red;

        }

        &:hover .v-icon::before {
            transform: rotate(-45deg);
            border-color: red;
        }

        &:hover .v-icon::after {
            transform: rotate(45deg);
            border-color: red;
        }
    }

}

.dropdown-container{
    width: 20px;
    height: 20px;
    position: relative;

    .v-icon {
        position: relative;

        &::before {
            content: "";
            cursor: pointer;
            border-radius: 0.5em;
            border-top: 0.1em solid black;
            height: 0.1em;
            width: 0.5em;
            position: absolute;
            left: 0;
            top: 11px;
            transform: rotate(45deg);
            transition: transform 200ms ease;

            &:hover::before{
                transform: rotate(-45deg);

            }
        }

        &::after {
            content: "";
            cursor: pointer;
            border-radius: 0.5em;
            border-top: 0.1em solid black;
            height: 0.1em;
            width: 0.5em;
            position: absolute;
            left: 5px;
            top: 11px;
            transform: rotate(-45deg);
            transition: transform 200ms ease;

            &:hover::after{
                transform: rotate(45deg);
            }
        }
    }
}