//Header
$header-base-color: #161616;
$header-icon: rgb(163, 163, 163);
$header-icon-hover: lighten($header-icon, 40);
$ea-logo-color: invert(50%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(99%) contrast(92%);
$ea-logo-hover-color: invert(10%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(99%) contrast(92%);

//Asides

$text-aside: rgb(163, 163, 163);
//Font-colors
$color-typography: (
    headings: black,
    text:  rgb(63, 62, 62),
);
