// Josephine - inizio -------------------------------------------------------------------------
$bg-base-blue: rgb(47, 41, 124);

// Font Color Footer
$color-primary: rgb(22, 22, 22);
$color-secondary: #ffffff;
// Josephine - fine -------------------------------------------------------------------------