// Giuseppe - inizio -----------------------------------------------------------------------
$giu-color: (
  black-heading: #161616,
);

//GRADIENT HOME
$bg-linear-gradient: linear-gradient(90deg, rgba(47, 41, 124, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
$bg-base-dark: rgba(24, 23, 23, 0.4);

//GRADIENT ULTIMI GIOCHI
$bg-linera-gradient-ultimi-giochi: linear-gradient(90deg, rgba(4,16,97,1) 0%, rgba(60,65,212,1) 100%);

$bg-base-blue: rgb(47, 41, 124);
// Giuseppe - fine -------------------------------------------------------------------------