@mixin cards {

    &::before {
        @content;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $bg-base-dark;
    }

    &::after {
        @content;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity .4s ease;
        background: $bg-linear-gradient;
        opacity: 0;
    }

    &:hover::after {
        @content;
        background: $bg-base-blue;
        background: $bg-linear-gradient;
        opacity: .82;
    }

    &:hover p {
        @content;
        display: block;
        z-index: 2;
    }

    p {
        position: absolute;
        top: 50%;
        left: 40%;
        color: #f3f3f3;
        font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
        font-size: 16px;
        transition: opacity .1s;
        opacity: 0;
    }

}


@mixin icons ($position: absolute) {

    &::after {
        @content;
        background: $bg-base-blue;
        background: $bg-linear-gradient;
        opacity: .82;
    }

    &:hover::after{
        background: $bg-base-blue;
        background: $bg-linear-gradient;
        opacity: .82;
    }

}

// Mixin Breakpoints Footer Josephine

@mixin xs {
    @media (max-width: map-get($breakpointsJo, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (max-width: map-get($breakpointsJo, "sm")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpointsJo, "md")) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpointsJo, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpointsJo, "xl")) {
        @content;
    }
}

// custom Breakpoint

@mixin breakpointJo($bp: 0) {
    @media (min-width: $bp) {
        @content
    }
}