@mixin cards($position) {
    position: $position;
   
    &::before {
        @content;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(24, 23, 23, 0.4);
    }

    &::after {
        @content;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity .4s ease;
        background: linear-gradient(90deg, rgba(47, 41, 124, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
        opacity: 0;
    }

    &:hover::after {
        @content;
        background: rgb(47, 41, 124);
        background: linear-gradient(90deg, rgba(47, 41, 124, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
        opacity: .82;
    }

    &:hover p {
        @content;
        display: block;
        z-index: 2;
    }

    p{
        position: absolute;
        top: 50%;
        left: 40%;
        color: white;
        display: none;
        font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
        font-size: 16px;
    }

}

// Mixin Breakpoints Footer Josephine

@mixin xs {
    @media (max-width: map-get($breakpointsJo, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (max-width: map-get($breakpointsJo, "sm")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpointsJo, "md")) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpointsJo, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpointsJo, "xl")) {
        @content;
    }
}

// custom Breakpoint

@mixin breakpointJo($bp: 0) {
    @media (min-width: $bp) {
        @content
    }
}