$bg-linear-gradient: linear-gradient(90deg, rgba(47, 41, 124, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
$bg-base-dark: rgba(24, 23, 23, 0.4);
$bg-base-blue: rgb(47, 41, 124);

// Font Color Footer Josephine

$color-primary: rgb(22, 22, 22);
$color-secondary: #ffffff;
$bg-base-blue: rgb(47, 41, 124);