@use "sass:math";

// ABSTRACTS --------------------------------------------------------------------------------------------
@import "../atomic-design/1-abstracts/variables/font-sizes/font-sizes-giuseppe";
@import "../atomic-design/1-abstracts/variables/font-sizes/font-sizes-dario";
@import "../atomic-design/1-abstracts/variables/font-families/font-families-dario";
@import "../atomic-design/1-abstracts/variables/breakpoints/breakpoints-dario";
@import "../atomic-design/1-abstracts/variables/breakpoints/breakpoints-josephine";
@import "../atomic-design/1-abstracts/variables/colors/colors-dario";
@import "../atomic-design/1-abstracts/variables/colors/colors-giuseppe";
@import "../atomic-design/1-abstracts/variables/colors/colors-josephine";

@import "../atomic-design/1-abstracts/functions/units/units-giuseppe";

@import "../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-dario";
@import "../atomic-design/1-abstracts/mixins/breakpoints/breakpoints-josephine";
@import "../atomic-design/1-abstracts/mixins/header/header-daniele";
@import "../atomic-design/1-abstracts/mixins/cards/cards-giuseppe";
@import "../atomic-design/1-abstracts/mixins/icons/icons-giuseppe";

// BASE --------------------------------------------------------------------------------------------
@import "../atomic-design/2-base/font-faces/font-faces-dario";
@import "../atomic-design/2-base/resets/reset-dario";
@import "../atomic-design/2-base/typography/home";

// COMPONENTS --------------------------------------------------------------------------------------------
@import "../atomic-design/3-components/buttons/button-1-giuseppe";
@import "../atomic-design/3-components/cards/cards-1-dario";
@import "../atomic-design/3-components/cards/cards-1-giuseppe";
@import "../atomic-design/3-components/tabs/tabs-1-dario";

// LAYOUTS --------------------------------------------------------------------------------------------
@import "../atomic-design/4-layouts/page-sections/page-section-1-dario";
@import "../atomic-design/4-layouts/grids/6-items-1-dario";
@import "../atomic-design/4-layouts/sliders/slider-1-dario";
@import "../atomic-design/4-layouts/footers/footer-1-josephine";

// TEMPLATES --------------------------------------------------------------------------------------------


// PAGES --------------------------------------------------------------------------------------------
@import "../atomic-design/6-pages/home";


  //codice header daniele //
  .flexnav {
    @include size (90vh, 100%);
    @include flex (flex, flex-start, center);
    flex-flow:column;

    .blackline {
        background-color:black;
        display:flex;
        @include size(5vh, 100%);
    }
    .threepoints{
        @include flex ( flex, center, flex-start);
        margin-left:1rem;
        flex-flow:column;
        gap:0.2rem;
        flex:5%;


        .span {
               @include size (0.4rem, 0.4rem);
               border-radius:0.4rem;
               background-color:black;}

        }
    .nav {
        display:flex;
        @include size (5vh, 100%);


            .logo {
                @include flex (flex, flex-start, center);
                flex:15%;
                 }
            .navlist {
                @include flex (flex, flex-start, center);
                flex:85%;

                ul {@include flex (flex, flex-start, center);
                    @include size (2rem, 100%);
                    @include space (1rem, 1.5rem);
                    list-style:none;

                     li {


                            a {
                                font-size:large;
                                color:black;
                                text-decoration:none;
                                }

                                    }
                                        }
                                            }
                                            a:hover {color:white;
                                                    transition:1s;}
    }

    .img {
        display:flex;
        background-image: url(/assets/img/FIFAMANIMGEA.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        @include size (87vh, 100%);
        }


    .textposition {
                @include flex(flex, flex-end, center);
                @include font (Helvetica, x-large);
                @include size (65vh, 65%);
                gap:1.2rem;
                color:white;
                flex-flow:column;

                &_1{
                    @include flex (flex, flex-start, center);
                    background-color:1px solid black;



                }

                .LOGO {
                    @include size (4rem, 30rem);

                }



                .btn_daniele {
                    @include flex (flex, flex-start, center);
                    @include size (3.5rem, 21em);
                    border-radius:0.5rem;

                    color:black;
                    cursor:pointer;

                    button{
                            @include size (3.5rem, 16rem);
                            @include font (Helvetica, large);


                    }

            }

        }

    }

    //dropdown menu with scss and js
    .sub-menu-altreesperienze {
        display:none;
        list-style:none;
        padding:0.2em, 0.5em;
        background-color:white;
        position:absolute;
        top:3em;
        left:50%;
        width:100%;
        opacity:0;
        transition:0.3s;

            li{
                padding:0.7em, 0.5em;
                margin:0.3em, 0;
                border-radius:0.5em;
                cursor:pointer;
            }
    }
    //codice header tablet responsive
    .mainimgmobile {
                    display:flex;
                    flex-flow:column;
                    display:none;
                    gap:1rem;
                    background-image:url(/EASports-Project/assets/img/FIFAMAINIMGEA-MOBILE.jpg);
                    @include size(60vh, 100%);

                    button {
                        @include flex (flex, center, flex-end);
                        @include size (1.5rem, 16rem);
                        border-radius:0.5rem;
                        background-color:white;
                        display:none;
                        color:black;
                        cursor:pointer;

                }
            }



/* Start Giochi in evidenza */
.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    #block-position {
        position: relative;
    }
}

.cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    margin: 1.2rem;
}

/* End Giochi in evidenza style */

/* Footer Giorgia (PLAY - GENITORI - SOCIAL)*/

.container_tot {
    display: flex;
    flex-direction: column;
    position: relative;
   /*  height: 100vh;
    width: 100vw; */
}

.container_gio {
    display: flex;
    position: relative;
    height: 410px;
}

.blocco_bgplay {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
}

.bg_play {
    height: 410px;
}


.play {
    display: flex;
    position: absolute;
    top: 100px;
    left: 320px;
    flex-direction: column;
    /* padding: 130px 0px 0px 410px; */

    /* @media only screen and (max-width:425px) {
    display: flex;
    position:absolute;
    flex-direction: column;
    padding: 0px;
   } */
}

.scritta_play {
    display: flex;
    position: relative;
    color: white;
    width: 544px;
    height: 54px;
    font-size: 27px;
}

.h6_play {
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;

}

.img_play {
    width: 240px;
    height: 101px;
}

/*.bottone_play{
    width: 150px;
    height: 60px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottone_play:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
}

.iscriviti_subito{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
}*/

.bottone_play1 {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0rem 0rem;
}

.iscriviti_subito1 {
    cursor: pointer;
    background: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 15px 30px;
    transition: padding 0.1s;
    font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    opacity: .9;

    &:hover {
        padding: 18px 35px;
    }
}


.container2_gio {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}


.blocco_genitori {
    display: flex;
    flex-direction: row;
    background-color: #6FB0D6;
   /*  width: 100vw; */
    height: 112px;
    justify-content: space-around;
    align-items: center;
  /*   z-index: 1;
    position: relative;    //MHMMMM GESTIONE MOMENTANEA!!!!!!!
    top: 50px; */
}

.genitori_gio {
    width: 500px;
    height: 70.22;
    color: black;
}

/*.bottone_genitori{
    width: 150px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottone_genitori:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
}
.scopridipiu{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}*/

.bottone_genitori1 {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0rem 0rem;
}

.scopridipiu1 {
    cursor: pointer;
    background: none;
    border: 1, 5px solid black;
    border-radius: 3px;
    padding: 15px 30px;
    transition: padding 0.1s;
    font-family: ElectronicArtsText, Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #161616;
    opacity: .9;

    &:hover {
        padding: 18px 35px;
    }
}

.blocco_link_gio {
    display: flex;
    flex-direction: row;
    background-color: #EAEAEA;
   /*  width: 100vw; */
    /* height: 200px; */
    justify-content: space-around;
    align-items: center;


}

.linkf_gio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 884px;
    height: 81px;
}

.link_gio {
    text-decoration: none;
    color: black;
    margin: 8px 48px 5px 0px;
}

.link_gio:hover {
    text-decoration: none;
    color: orangered;
}

.blocco_social {
    display: flex;
    flex-direction: column;
}

.social_logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 13px;
}

.blocco_loghi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.facebooklogo {
    width: 22px;
    height: 22px;
}

.facebooklogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.twitterlogo {
    width: 22px;
    height: 22px;
}

.twitterlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.youtubelogo {
    width: 22px;
    height: 22px;
}

.youtubelogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.instagramlogo {
    width: 22px;
    height: 22px;
}

.instagramlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}

.twitchlogo {
    width: 22px;
    height: 22px;
}

.twitchlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.20s;
}


/* -------------------------------------Reponsivity--------------------------------- */
@import "../atomic-design/responsivity/home";







